<!--
 ** LOT YIELD SUMMARY(COMPOSITE) - BETS-UI-0201
 ** 특정기간 모든 LOTS, OP_BIN, YIELD, SUMMARY
 ** MAIN_BIN 테이블의 TESTER_COUNTER 컬럼의 숫자가 0,1,2,OP_BIN(9999)로 들어온다.(분류조건)
 ** MAIN_BIN 테이블에 있는 OP_BIN 컬럼 값에 BIN1 ~ BIN9가 들어있다.(콤마로 구분되어 있음)
 ** 각 BIN의 값을 보여주고 전체합, 패스빈값들의 합, YIELD를 보여준다.
 -->
<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <sa-widgets-grid>
        <!-- row start -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <sa-widget [colorbutton]="false" [editbutton]="false" color="blueDark">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                        <h2>LOT Yield Retrieve</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body">
                            <!--<legend>Retrieve Elements</legend>-->
                            <div class="form-horizontal">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{'Date From'|i18n}}</label>
                                        <div class="col-md-2">
                                            <wj-input-date [(text)]="startDate"
                                                           [format]="'yyyyMMdd'">
                                            </wj-input-date>
                                            <!--<ui-date-picker (selectedText)="onSelectDateFrom($event)"></ui-date-picker>-->
                                        </div>
                                        <label class="col-md-2 control-label">{{'Date to'|i18n}}</label>
                                        <div class="col-md-2">
                                            <wj-input-date [(text)]="endDate"
                                                           [format]="'yyyyMMdd'" >
                                            </wj-input-date>
                                            <!--<ui-date-picker (selectedText)="onSelectDateTo($event)"></ui-date-picker>-->
                                        </div>
                                        <label class="col-md-2 control-label">{{'Bin Selection'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="BIN Select" type="text" value="MAIN_BIN" disabled="disabled">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{'Part Number'|i18n}}<sup>%</sup></label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="Part Number" type="text"
                                                   [(ngModel)]="retrieveCondDto.partNumber">
                                        </div>

                                        <label class="col-md-2 control-label">{{'Process Code'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="Process Code" type="text"
                                                   [(ngModel)]="retrieveCondDto.processCode">
                                        </div>

                                        <label class="col-md-2 control-label">{{'Tester Model'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="Tester Model" type="text"
                                                   [(ngModel)]="retrieveCondDto.testerModel">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{'testerNumber'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="{{'testerNumber'|i18n}}" type="text"
                                                   [(ngModel)]="retrieveCondDto.testerNumber">
                                        </div>
                                        <label class="col-md-2 control-label">{{'Tester Head'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="Tester Head" type="text"
                                                   [(ngModel)]="retrieveCondDto.head">
                                        </div>
                                        <label class="col-md-2 control-label">{{'Tester Counter'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="Test Counter" type="text"
                                                   [(ngModel)]="retrieveCondDto.testCounter">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{'Lot ID'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="Lot ID" type="text"
                                                   [(ngModel)]="retrieveCondDto.lotId">
                                        </div>
                                        <label class="col-md-2 control-label">{{'mainProgramName'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="{{'mainProgramName'|i18n}}" type="text"
                                                   [(ngModel)]="retrieveCondDto.mainProgramName">
                                        </div>
                                        <label class="col-md-2 control-label">{{'boardId'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="{{'boardId'|i18n}}" type="text"
                                                   [(ngModel)]="retrieveCondDto.boardId">
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-default" (click)="resetForm()">
                                                {{'reset'|i18n}}
                                            </button>

                                            <button (click)="retrieveExecute()" class="btn btn-primary">
                                                <i class="fa fa-search"></i>
                                                {{'retrieve'|i18n}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </sa-widget>
                <!-- end widget -->
                <!--<dynamic-component [componentData]="componentData"></dynamic-component>-->
                <sa-widget [colorbutton]="false" [editbutton]="false" color="blueDark">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>LOT Yield Retrieve Result</h2>
                    </header>
                    <div *ngIf="!empty">
                        <div  class="widget-body no-padding">
                            <div class="col-md-12 col-xs-12">
                                <div class="form-inline well well-lg">
                                    <button class="btn btn-default" (click)="exportExcel()">Export</button>
                                </div>
                            </div>
                            <wj-flex-grid  #flexGrid 
                                           [isReadOnly]="true"
                                           [itemsSource]="gridData"
                                           [headersVisibility]="'Column'"
>
                                <wj-flex-grid-filter #filter></wj-flex-grid-filter>
                                <wj-flex-grid-column *ngFor="let col of colInfo" [header]=col [binding]=col></wj-flex-grid-column>
                            </wj-flex-grid>
                        </div>
                    </div>
                    <div *ngIf="empty == true">
                        <div class="widget-body no-padding">
                            <div class="col-md-12 col-xs-12">
                                <div>No data available in table</div>
                            </div>
                        </div>
                    </div>
                </sa-widget>
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- row end-->
    </sa-widgets-grid>
    <!-- end widget grid -->
</div>

