<!--
 * 1. File name     : boardSerialMap.component.html
 * 2. Discription   : Board Serial Map
 * 3. writer        : yhkim     2017.06.10
 * 4. modifier      :
 * 5. UI Id         : BETS-UI-0502 : Board Serial Map
 */
/**
 * version 1.0 : 2017.06.10  /  yhkim  / First Frame Creation
 -->
<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <sa-widgets-grid>
        <!-- row start -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <sa-widget [colorbutton]="false" [editbutton]="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                        <h2>Board Serial Map Retrieve</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body">
                            <!--<legend>Retrieve Elements</legend>-->
                            <form #form="ngForm">
                                <div class="form-horizontal">
                                    <fieldset>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{'Date From'|i18n}}</label>
                                            <div class="col-md-2">
                                                <wj-input-date [(text)]="startDate" [format]="'yyyyMMdd'"></wj-input-date>
                                            </div>
                                            <label class="col-md-2 control-label">{{'Date to'|i18n}}</label>
                                            <div class="col-md-2">
                                                <wj-input-date [(text)]="endDate" [format]="'yyyyMMdd'"></wj-input-date>
                                            </div>
                                            <label class="col-md-2 control-label"><sup>*</sup>{{'Lot ID'|i18n}}</label>
                                            <div class="col-md-2">
                                                <input class="form-control" placeholder="Lot ID" type="text" name="lotId" required
                                                       [(ngModel)]="retrieveCondDto.lotId">
                                            </div>

                                            <!-- <label class="col-md-2 control-label">{{'mode'|i18n}}</label>
                                            <div class="col-md-2">
                                                <input class="form-control" placeholder="" type="text">
                                            </div> -->

                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">SBL Board Limit</label>
                                            <div class="col-md-2">
                                                <input class="form-control" placeholder="SBL Board Limit" name="sblBoardLimit" type="text"
                                                       [(ngModel)]="retrieveCondDto.sblBoardLimit">
                                            </div>
                                        </div>

                                        <!-- <div class="form-group">
                                            <label class="col-md-2 control-label">{{'Part Number'|i18n}}</label>
                                            <div class="col-md-2">
                                                <input class="form-control" placeholder="Part Number" type="text"
                                                       [(ngModel)]="retrieveCondDto.partNumber">
                                            </div>
                                            <label class="col-md-2 control-label">{{'Process Code'|i18n}}</label>
                                            <div class="col-md-2">
                                                <input class="form-control" placeholder="Process Code" type="text"
                                                       [(ngModel)]="retrieveCondDto.processCode">
                                            </div>
                                            <label class="col-md-2 control-label">{{'Tester Model'|i18n}}</label>
                                            <div class="col-md-2">
                                                <input class="form-control" placeholder="Tester Model" type="text" [(ngModel)]="retrieveCondDto.testerModel">
                                            </div>
                                        </div> -->

                                        <!-- <div class="form-group">
                                            <label class="col-md-2 control-label">{{'mainProgramName'|i18n}}</label>
                                            <div class="col-md-2">
                                                <input class="form-control" placeholder="{{'mainProgramName'|i18n}}" type="text"
                                                       [(ngModel)]="retrieveCondDto.mainProgramName">
                                            </div>
                                            <label class="col-md-2 control-label">{{'boardId'|i18n}}</label>
                                            <div class="col-md-2">
                                                <input class="form-control" placeholder="{{'boardId'|i18n}}" type="text"
                                                       [(ngModel)]="retrieveCondDto.boardId">
                                            </div>
                                        </div> -->

                                    </fieldset>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button class="btn btn-default" (click)="resetForm()">
                                                    {{'reset'|i18n}}
                                                </button>
                                                <button type="submit" [disabled]="!form.form.valid" (click)="retrieveExecute()" class="btn btn-primary">
                                                    <i class="fa fa-search"></i>
                                                    {{'retrieve'|i18n}}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </sa-widget>
                <!-- end widget -->
                <!-- widget Grid Start -->
                <sa-widget [colorbutton]="false" [editbutton]="false" color="blueDark">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Board Serial Map Retrieve Result</h2>
                    </header>
                    <div *ngIf="!empty">
                        <div class="widget-body no-padding">
                            <div class="col-md-12 col-xs-12">
                                <div class="form-inline well well-lg">
                                    <button class="btn btn-default" (click)="exportExcel()">Export</button>
                                </div>
                            </div>
                            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
                            <!-- the grid -->
                            <!--
                            <wj-flex-grid #flexGrid [itemsSource]="gridData" [isReadOnly]="true" (loadedRows)="onGridLoaded($event)">
                                <wj-flex-grid-filter #filter></wj-flex-grid-filter>
                                <wj-flex-grid-column *ngFor="let col of colInfo" [header]=col [binding]=col></wj-flex-grid-column>
                            </wj-flex-grid>
                            -->

                            <wj-flex-grid #flexGrid [allowResizing]="'Both'"
                                          class="grid"
                                          [itemsSource]="gridData"
                                          [isReadOnly]="false">
                                <wj-flex-grid-column *ngFor="let col of columns"
                                                     [header]="col.header"
                                                     [binding]="col.binding"
                                                     [format]="col.format"
                                                     [width]="col.width">
                                    <ng-template *ngIf="col.cellTemplate" wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                        <wj-component-loader [component]="col.cellTemplate" [properties]="{item: cell.item, sblBoardLimit: col.sblBoardLimit}"></wj-component-loader>
                                    </ng-template>
                                </wj-flex-grid-column>
                            </wj-flex-grid>

                        </div>
                    </div>
                    <div *ngIf="empty == true">
                        <div class="widget-body no-padding">
                            <div class="col-md-12 col-xs-12">
                                <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
                                <div style="text-align: center" class="h6">No data available in table</div>
                            </div>
                        </div>
                    </div>
                </sa-widget>
                <!-- widget Grid End -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- row end-->
    </sa-widgets-grid>
    <!-- end widget grid -->
</div>

