<form class="form-horizontal" #tableForm="ngForm" (ngSubmit)="saveForm()"
      [saUiValidate]="validationOptions" novalidate="novalidate">
    <fieldset>
        <div class="form-group">
            <label class="col-md-2 control-label"><sup>*</sup>{{'partNumber'|i18n}}</label>

            <div class="col-md-2">
                <input type="text" class="form-control" id="partNumber" name="partNumber" maxlength="30"
                       title="This is Part Number" placeholder="ex) HTMECMP1" [(ngModel)]="programRegister.partNumber" required>
            </div>
            <label class="col-md-2 control-label">{{'productName'|i18n}}</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="product" name="product" maxlength="50"
                       placeholder="ex) HTTC4G63CFR-RDA" [(ngModel)]="programRegister.productName">
            </div>
            <label class="col-md-2 control-label">{{'sblYieldLimit'|i18n}}</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="sblYieldLimit" maxlength="5"
                       name="sblYieldLimit" placeholder="ex) 95"
                       [(ngModel)]="programRegister.sblYieldLimit">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"><sup>*</sup>{{'processCode'|i18n}}</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="processCode" name="processCode" maxlength="10" required
                       placeholder="ex) T5100" [(ngModel)]="programRegister.processCode">
            </div>
            <label class="col-md-2 control-label">{{'fab'|i18n}}</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="fab" name="fab" maxlength="5"
                       placeholder="ex) M10" [(ngModel)]="programRegister.fab">
            </div>
            <label class="col-md-2 control-label">{{'sblBin8Limit'|i18n}}</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="sblBin8Limit" maxlength="3"
                       name="sblBin8Limit" placeholder="ex) 0.5"
                       [(ngModel)]="programRegister.sblBin8Limit">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"><sup>*</sup>{{'mainProgramName'|i18n}}</label>
            <div class="col-md-2">
                <input type="text" maxlength="30" class="form-control" id="mainProgramName" maxlength="30" required
                       name="mainProgramName" placeholder="ex) HTDRAMR0"
                       [(ngModel)]="programRegister.mainProgramName">
            </div>
            <label class="col-md-2 control-label">{{'grade'|i18n}}</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="grade" name="grade" maxlength="5"
                       placeholder="ex) HQ" [(ngModel)]="programRegister.grade">
            </div>
            <label class="col-md-2 control-label">{{'sblBin9Limit'|i18n}}</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="sblBin9Limit" maxlength="3"
                       name="sblBin9Limit" placeholder="ex) 0.5"
                       [(ngModel)]="programRegister.sblBin9Limit">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">{{'dutMap'|i18n}}</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="dutMap" name="dutMap" maxlength="40"
                       placeholder="ex) 256DUT_MAP" [(ngModel)]="programRegister.dutMap">
            </div>
            <label class="col-md-2 control-label">{{'firmwareName'|i18n}}</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="firmwareName" maxlength="50"
                       name="firmwareName" placeholder="ex) SM2718AC 124C1A07_P1007R58 HAG4A32A5 1D5A000"
                       [(ngModel)]="programRegister.firmwareName">
            </div>
            <label class="col-md-2 control-label">{{'sblBin9Counter'|i18n}}</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="sblBin9Counter" maxlength="2"
                       name="sblBin9Counter" placeholder="ex) 5"
                       [(ngModel)]="programRegister.sblBin9Counter">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"><sup>*</sup>{{'temperature'|i18n}}</label>
            <div class="col-md-2">
                <input type="number" class="form-control" id="temperature" maxlength="4" required
                       name="temperature" placeholder="ex) 87"
                       [(ngModel)]="programRegister.temperature">
            </div>
            <label class="col-md-2 control-label">{{'firmwareVersion'|i18n}}</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="firmwareVersion" maxlength="20"
                       [attr.required]="programRegister.processCode === 'T8100' || programRegister.processCode === 'T8200'? true : null"
                       name="firmwareVersion" placeholder="ex) SM-REV0"
                       [(ngModel)]="programRegister.firmwareVersion">
            </div>
            <label class="col-md-2 control-label">{{'sblSubBinaNumber'|i18n}}</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="sblSubBinaNumber" maxlength="5"
                       name="sblSubBinaNumber" placeholder="ex) 5"
                       [(ngModel)]="programRegister.sblSubBinaNumber">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">{{'temperatureLimit'|i18n}}</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="temperatureLimit" maxlength="3"
                       name="temperatureLimit" placeholder="ex) 2"
                       [(ngModel)]="programRegister.temperatureLimit">
            </div>
            <label class="col-md-2 control-label">{{'testerOsVersion'|i18n}}</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="testerOsVersion" maxlength="10"
                       name="testerOsVersion" placeholder="ex) A.10D"
                       [(ngModel)]="programRegister.testerOsVersion">
            </div>
            <label class="col-md-2 control-label">{{'sblSubBinaLimit'|i18n}}</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="sblSubBinaLimit" maxlength="5"
                       name="sblSubBinaLimit" placeholder="ex) 0.5"
                       [(ngModel)]="programRegister.sblSubBinaLimit">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">{{'customer'|i18n}}</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="customer" name="customer" maxlength="30"
                       placeholder="ex) Motorola" [(ngModel)]="programRegister.customer">
            </div>
            <label class="col-md-2 control-label">{{'programVersion'|i18n}}</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="programVersion" maxlength="10"
                       name="programVersion" placeholder="ex) REV0"
                       [(ngModel)]="programRegister.programVersion">
            </div>
            <label class="col-md-2 control-label">{{'sblSubBinaCount'|i18n}}</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="sblSubBinaCount" maxlength="2"
                       name="sblSubBinaCount" placeholder="ex) 5"
                       [(ngModel)]="programRegister.sblSubBinaCount">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">{{'testerModel'|i18n}}</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="testerModel" name="testerModel" maxlength="10"
                       placeholder="ex) T5503" [(ngModel)]="programRegister.testerModel">
            </div>
            <label class="col-md-2 control-label">{{'packageType'|i18n}}</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="packageType" name="packageType" maxlength="10"
                       placeholder="ex) FBGA221" [(ngModel)]="programRegister.packageType">
            </div>
            <label class="col-md-2 control-label">{{'sblSubBinbNumber'|i18n}}</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="sblSubBinbNumber" maxlength="5"
                       name="sblSubBinbNumber" placeholder="ex) 5"
                       [(ngModel)]="programRegister.sblSubBinbNumber">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">{{'para'|i18n}}</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="para" maxlength="3"
                       name="para" placeholder="ex) 256"
                       [(ngModel)]="programRegister.para">
            </div>
            <label class="col-md-2 control-label"></label>
            <div class="col-md-2"></div>
            <label class="col-md-2 control-label">{{'sblSubBinbLimit'|i18n}}</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="sblSubBinbLimit" maxlength="5"
                       name="sblSubBinbLimit" placeholder="ex) 0.5"
                       [(ngModel)]="programRegister.sblSubBinbLimit">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"><sup>*</sup>{{'firmwareDirectory'|i18n}}</label>
            <div class="col-md-6">
                <input type="text" class="form-control" id="firmwareDirectory" maxlength="100" required
                       name="firmwareDirectory" placeholder="ex) f:\firmware" title="The 'Firmware Directory' is only used for MAGNUM5"
                       [(ngModel)]="programRegister.firmwareDirectory">
            </div>
            <label class="col-md-2 control-label">{{'sblSubBinbCount'|i18n}}</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="sblSubBinbCount" maxlength="2"
                       name="sblSubBinbCount" placeholder="ex) 10"
                       [(ngModel)]="programRegister.sblSubBinbCount">
            </div>
        </div>

        <br><br>
        <!--FunctionKey Group-->
        <div class="form-group">
            <label class="col-md-2 control-label">Function Key</label>
            <div class="col-md-10">
                <label class="col-md-1 checkbox-inline">
                    <input type="checkbox" class="checkbox style-3" id="functionKey1"
                           name="functionKey1" [(ngModel)]="programRegister.functionKey1">
                    <span>{{'functionKey1'|i18n}}</span>
                </label>
                <label class="col-md-1 checkbox-inline">
                    <input type="checkbox" class="checkbox style-3" id="functionKey2"
                           name="functionKey2" [(ngModel)]="programRegister.functionKey2">
                    <span>{{'functionKey2'|i18n}}</span>
                </label>
                <label class="col-md-1 checkbox-inline">
                    <input type="checkbox" class="checkbox style-3" id="functionKey3"
                           name="functionKey3" [(ngModel)]="programRegister.functionKey3">
                    <span>{{'functionKey3'|i18n}}</span>
                </label>
                <label class="col-md-1 checkbox-inline">
                    <input type="checkbox" class="checkbox style-3" id="functionKey4"
                           name="functionKey4" [(ngModel)]="programRegister.functionKey4">
                    <span>{{'functionKey4'|i18n}}</span>
                </label>
                <label class="col-md-1 checkbox-inline">
                    <input type="checkbox" class="checkbox style-3" id="functionKey5"
                           name="functionKey5" [(ngModel)]="programRegister.functionKey5">
                    <span>{{'functionKey5'|i18n}}</span>
                </label>
                <label class="col-md-1 checkbox-inline">
                    <input type="checkbox" class="checkbox style-3" id="functionKey6"
                           name="functionKey6" [(ngModel)]="programRegister.functionKey6">
                    <span>{{'functionKey6'|i18n}}</span>
                </label>
                <label class="col-md-1 checkbox-inline">
                    <input type="checkbox" class="checkbox style-3" id="functionKey7"
                           name="functionKey7" [(ngModel)]="programRegister.functionKey7">
                    <span>{{'functionKey7'|i18n}}</span>
                </label>
                <label class="col-md-1 checkbox-inline">
                    <input type="checkbox" class="checkbox style-3" id="functionKey8"
                           name="functionKey8" [(ngModel)]="programRegister.functionKey8">
                    <span>{{'functionKey8'|i18n}}</span>
                </label>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <label class="col-md-1 checkbox-inline">
                    <input type="checkbox" class="checkbox style-3" id="functionKey9"
                           name="functionKey9" [(ngModel)]="programRegister.functionKey9">
                    <span>{{'functionKey9'|i18n}}</span>
                </label>
                <label class="col-md-1 checkbox-inline">
                    <input type="checkbox" class="checkbox style-3" id="functionKey10"
                           name="functionKey10" [(ngModel)]="programRegister.functionKey10">
                    <span>{{'functionKey10'|i18n}}</span>
                </label>
                <label class="col-md-1 checkbox-inline">
                    <input type="checkbox" class="checkbox style-3" id="functionKey11"
                           name="functionKey11" [(ngModel)]="programRegister.functionKey11">
                    <span>{{'functionKey11'|i18n}}</span>
                </label>
                <label class="col-md-1 checkbox-inline">
                    <input type="checkbox" class="checkbox style-3" id="functionKey12"
                           name="functionKey12" [(ngModel)]="programRegister.functionKey12">
                    <span>{{'functionKey12'|i18n}}</span>
                </label>
                <label class="col-md-1 checkbox-inline">
                    <input type="checkbox" class="checkbox style-3" id="functionKey13"
                           name="functionKey13" [(ngModel)]="programRegister.functionKey13">
                    <span>{{'functionKey13'|i18n}}</span>
                </label>
                <label class="col-md-1 checkbox-inline">
                    <input type="checkbox" class="checkbox style-3" id="functionKey14"
                           name="functionKey14" [(ngModel)]="programRegister.functionKey14">
                    <span>{{'functionKey14'|i18n}}</span>
                </label>
                <label class="col-md-1 checkbox-inline">
                    <input type="checkbox" class="checkbox style-3" id="functionKey15"
                           name="functionKey15" [(ngModel)]="programRegister.functionKey15">
                    <span>{{'functionKey15'|i18n}}</span>
                </label>
                <label class="col-md-1 checkbox-inline">
                    <input type="checkbox" class="checkbox style-3" id="functionKey16"
                           name="functionKey16" [(ngModel)]="programRegister.functionKey16">
                    <span>{{'functionKey16'|i18n}}</span>
                </label>
            </div>
        </div>

        <br>
        <br>
        <!--Start Pass BIN Selection Group-->
        <div class="form-group">
            <label class="col-md-2 control-label"><sup>*</sup>Pass BIN Selection</label>
            <div class="col-md-10">
                <label class="col-md-1 checkbox-inline">
                    <input type="checkbox" class="checkbox style-3" checked="checked" id="passBinSelection1"
                           name="passBinSelection1"
                           [(ngModel)]="programRegister.passBinSelection1">
                    <span>{{'passBinSelection1'|i18n}}</span>
                </label>
                <label class="col-md-1 checkbox-inline">
                    <input type="checkbox" class="checkbox style-3" checked="checked" id="passBinSelection2"
                           name="passBinSelection2"
                           [(ngModel)]="programRegister.passBinSelection2">
                    <span>{{'passBinSelection2'|i18n}}</span>
                </label>
                <label class="col-md-1 checkbox-inline">
                    <input type="checkbox" class="checkbox style-3" checked="checked" id="passBinSelection3"
                           name="passBinSelection3"
                           [(ngModel)]="programRegister.passBinSelection3">
                    <span>{{'passBinSelection3'|i18n}}</span>
                </label>
                <label class="col-md-1 checkbox-inline">
                    <input type="checkbox" class="checkbox style-3" checked="checked" id="passBinSelection4"
                           name="passBinSelection4"
                           [(ngModel)]="programRegister.passBinSelection4">
                    <span>{{'passBinSelection4'|i18n}}</span>
                </label>
                <label class="col-md-1 checkbox-inline">
                    <input type="checkbox" class="checkbox style-3" id="passBinSelection5"
                           name="passBinSelection5"
                           [(ngModel)]="programRegister.passBinSelection5">
                    <span>{{'passBinSelection5'|i18n}}</span>
                </label>
                <label class="col-md-1 checkbox-inline">
                    <input type="checkbox" class="checkbox style-3" id="passBinSelection6"
                           name="passBinSelection6"
                           [(ngModel)]="programRegister.passBinSelection6">
                    <span>{{'passBinSelection6'|i18n}}</span>
                </label>
                <label class="col-md-1 checkbox-inline">
                    <input type="checkbox" class="checkbox style-3" id="passBinSelection7"
                           name="passBinSelection7"
                           [(ngModel)]="programRegister.passBinSelection7">
                    <span>{{'passBinSelection7'|i18n}}</span>
                </label>
                <label class="col-md-1 checkbox-inline">
                    <input type="checkbox" class="checkbox style-3" id="passBinSelection8"
                           name="passBinSelection8"
                           [(ngModel)]="programRegister.passBinSelection8">
                    <span>{{'passBinSelection8'|i18n}}</span>
                </label>
            </div>
        </div>
        <!--End Pass BIN Selection Group-->

        <br>
        <br>
        <!--Start Retest BIN Selection Group-->
        <div class="form-group">
            <label class="col-md-2 control-label"><sup>*</sup>Retest BIN Selection</label>
            <div class="col-md-10">
                <label class="col-md-1 checkbox-inline">
                    <input type="checkbox" class="checkbox style-3" checked="checked" id="retestBinSelection1"
                           name="retestBinSelection1"
                           [(ngModel)]="programRegister.retestBinSelection1">
                    <span>{{'retestBinSelection1'|i18n}}</span>
                </label>
                <label class="col-md-1 checkbox-inline">
                    <input type="checkbox" class="checkbox style-3" checked="checked" id="retestBinSelection2"
                           name="retestBinSelection2"
                           [(ngModel)]="programRegister.retestBinSelection2">
                    <span>{{'retestBinSelection2'|i18n}}</span>
                </label>
                <label class="col-md-1 checkbox-inline">
                    <input type="checkbox" class="checkbox style-3" checked="checked" id="retestBinSelection3"
                           name="retestBinSelection3"
                           [(ngModel)]="programRegister.retestBinSelection3">
                    <span>{{'retestBinSelection3'|i18n}}</span>
                </label>
                <label class="col-md-1 checkbox-inline">
                    <input type="checkbox" class="checkbox style-3" checked="checked" id="retestBinSelection4"
                           name="retestBinSelection4"
                           [(ngModel)]="programRegister.retestBinSelection4">
                    <span>{{'retestBinSelection4'|i18n}}</span>
                </label>
                <label class="col-md-1 checkbox-inline">
                    <input type="checkbox" class="checkbox style-3" id="retestBinSelection5"
                           name="retestBinSelection5"
                           [(ngModel)]="programRegister.retestBinSelection5">
                    <span>{{'retestBinSelection5'|i18n}}</span>
                </label>
                <label class="col-md-1 checkbox-inline">
                    <input type="checkbox" class="checkbox style-3" id="retestBinSelection6"
                           name="retestBinSelection6"
                           [(ngModel)]="programRegister.retestBinSelection6">
                    <span>{{'retestBinSelection6'|i18n}}</span>
                </label>
                <label class="col-md-1 checkbox-inline">
                    <input type="checkbox" class="checkbox style-3" id="retestBinSelection7"
                           name="retestBinSelection7"
                           [(ngModel)]="programRegister.retestBinSelection7">
                    <span>{{'retestBinSelection7'|i18n}}</span>
                </label>
                <label class="col-md-1 checkbox-inline">
                    <input type="checkbox" class="checkbox style-3" id="retestBinSelection8"
                           name="retestBinSelection8"
                           [(ngModel)]="programRegister.retestBinSelection8">
                    <span>{{'retestBinSelection8'|i18n}}</span>
                </label>
            </div>
        </div>
        <!--End Retest BIN Selection Group-->

    </fieldset>
    <!--Retest Skip 기준 end-->
    <div class="form-actions">
        <div class="row">
            <div class="col-md-12">
                <button *ngIf="newFlag" class="btn btn-default" (click)="resetForm()">
                    <i class="fa fa-cancel"></i>
                    {{'Reset'|i18n}}
                </button>
                <button *ngIf="!newFlag" class="btn btn-default" (click)="modalClosefn()">
                    <i class="fa fa-cancel"></i>
                    {{'Cancel'|i18n}}
                </button>
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i>
                    {{'Save'|i18n}}
                </button>
            </div>
        </div>
    </div>
    <!--<div class="form-actions">-->
        <!--<div class="row">-->
            <!--<div class="col-md-12">-->
                <!--<button type="button" class="btn btn-default" (click)="lgModal.hide()">-->
                    <!--Cancel-->
                <!--</button>-->
                <!--<button class="btn btn-primary" type="submit">-->
                    <!--<i class="fa fa-save"></i>-->
                    <!--Save-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</form>

<!-- end widget content -->
