<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="kr.famos.base"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/BibendworkMapper.xml"/>
        <mapper resource="mapper/EquipmentLayoutMapper.xml"/>
        <mapper resource="mapper/LastTableEventMapper.xml"/>
        <mapper resource="mapper/LastTableMapper.xml"/>
        <mapper resource="mapper/LastTablePn2mMapper.xml"/>
        <mapper resource="mapper/LotinInfoHistMapper.xml"/>
        <mapper resource="mapper/MbtBoardYieldHistMapper.xml"/>
        <mapper resource="mapper/MbtEquipmentInfoMapper.xml"/>
        <mapper resource="mapper/MbtLastTableEventMapper.xml"/>
        <mapper resource="mapper/MbtLastTableMapper.xml"/>
        <mapper resource="mapper/MbtYieldHistMapper.xml"/>
        <mapper resource="mapper/PkgmapMultichipYieldMapper.xml"/>
        <mapper resource="mapper/SblResultMapper.xml"/>
        <mapper resource="mapper/StIndexMapper.xml"/>
        <mapper resource="mapper/TestYieldHistErrMapper.xml"/>
        <mapper resource="mapper/TestYieldHistMapper.xml"/>
        <mapper resource="mapper/ProgramRegister.xml"/>
    </mappers>
</configuration>