<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <sa-widgets-grid>
        <!-- row start -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <sa-widget [colorbutton]="false" [editbutton]="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                        <h2>Board Composite Map Retrieve</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body">
                            <!--<legend>Retrieve Elements</legend>-->
                            <form #form="ngForm">
                                <div class="form-horizontal">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{'Date From'|i18n}}</label>
                                        <div class="col-md-2">
                                            <wj-input-date [(text)]="startDate" [format]="'yyyyMMdd'"></wj-input-date>
                                        </div>
                                        <label class="col-md-2 control-label">{{'Date to'|i18n}}</label>
                                        <div class="col-md-2">
                                            <wj-input-date [(text)]="endDate" [format]="'yyyyMMdd'"></wj-input-date>
                                        </div>
                                        <label class="col-md-2 control-label">{{'mode'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{'Part Number'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="Part Number" type="text" name="biPartNumber"
                                                   [(ngModel)]="data.biPartNumber">
                                        </div>
                                        <label class="col-md-2 control-label">{{'Process Code'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="Process Code" type="text" name="biProcessCode"
                                                   [(ngModel)]="data.biProcessCode">
                                        </div>

                                        <label class="col-md-2 control-label">{{'Tester Model'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="Tester Model" type="text" name="biTesterModel"
                                                   [(ngModel)]="data.biTesterModel">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" style="color:red;"><strong>{{'Lot ID'|i18n}}</strong></label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="Lot ID" type="text" name="biLotId" required minlength="4" maxlength="24"
                                                   [(ngModel)]="data.biLotId">
                                        </div>
                                        <label class="col-md-2 control-label">{{'mainProgramName'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="{{'mainProgramName'|i18n}}" type="text" name="biMainProgramName"
                                                   [(ngModel)]="data.biMainProgramName">
                                        </div>
                                        <label class="col-md-2 control-label">{{'boardId'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="{{'boardId'|i18n}}" type="text" name="biBoardId"
                                                   [(ngModel)]="data.biBoardId">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{'zoneNumber'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="{{'zoneNumber'|i18n}}" type="text" name="biZoneNumber"
                                                   [(ngModel)]="data.biZoneNumber">
                                        </div>
                                        <label class="col-md-2 control-label">{{'slotNumber'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="{{'slotNumber'|i18n}}" type="text" name="biSlotNumber"
                                                   [(ngModel)]="data.biSlotNumber">
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-default" (click)="resetForm()">
                                                {{'reset'|i18n}}
                                            </button>

                                            <button type="submit" [disabled]="!form.form.valid" (click)="retrieveExecute()" class="btn btn-primary">
                                                <i class="fa fa-search"></i>
                                                {{'retrieve'|i18n}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </sa-widget>
                <!-- end widget -->
                <!-- widget Grid Start -->
                <sa-widget [colorbutton]="false" [editbutton]="false" color="blueDark">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Board Composite Map Retrieve Result</h2>
                    </header>
                    <div *ngIf="!empty">
                        <div class="widget-body no-padding">
                            <div class="col-md-12 col-xs-12">
                                <div class="form-inline well well-lg">
                                    <button class="btn btn-default" (click)="exportExcel()">Export</button>
                                </div>
                            </div>
                            <wj-flex-grid #flexGrid [itemsSource]="gridData" [isReadOnly]="true" [headersVisibility]="'Column'"
                                          (loadedRows)="onGridLoaded($event)"
                                          [autoSizeMode] = "'Both'">
                                <wj-flex-grid-filter #filter></wj-flex-grid-filter>
                                <wj-flex-grid-column *ngFor="let col of colInfo" [header]=col
                                                     [binding]=col></wj-flex-grid-column>
                            </wj-flex-grid>
                        </div>
                    </div>
                    <div *ngIf="empty == true">
                        <div class="widget-body no-padding">
                            <div class="col-md-12 col-xs-12">
                                <div>No data available in table</div>
                            </div>
                        </div>
                    </div>
                </sa-widget>
                <!-- widget Grid End -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- row end-->
    </sa-widgets-grid>
    <!-- end widget grid -->
</div>

