<!--
* 1. File name     : testEfficiency.component.ts
* 2. Discription   : Test Efficiency 조회 기능 각 시간을 산출하는 로직이 중요하다
* 3. writer        : yhkim     2017.06.06
* 4. modifier      :
* 5. UI Id         : BETS-UI-0601 : Test Efficiency
*/
/**
* version 1.0 : 2017.03.01  /  yhkim  / First Frame Creation
-->
<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <sa-widgets-grid>
        <!-- row start -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <sa-widget [colorbutton]="false" [editbutton]="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                        <h2>{{'testEfficiency'|i18n}} Retrieve</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body">
                            <form #form="ngForm">
                                <div class="form-horizontal">
                                    <fieldset>
                                        <!--검색조건 시작-->
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{'Date From'|i18n}}</label>
                                            <div class="col-md-2">
                                                <wj-input-date [(text)]="startDate" [format]="'yyyyMMdd'"></wj-input-date>
                                            </div>
                                            <label class="col-md-2 control-label">{{'Date to'|i18n}}</label>
                                            <div class="col-md-2">
                                                <wj-input-date [(text)]="endDate" [format]="'yyyyMMdd'"></wj-input-date>
                                            </div>
                                            <label class="col-md-2 control-label"><sup>*</sup>{{'testerNumber'|i18n}}</label>
                                            <div class="col-md-2">
                                                <input type="text" class="form-control" placeholder="{{'testerNumber'|i18n}}" name="testerNumber" required [(ngModel)]="retrieveCondDto.testerNumber">
                                            </div>
                                        </div>
                                    </fieldset>
                                    <!--Retest Skip 기준 end-->
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button class="btn btn-default" (click)="resetForm()">
                                                    {{'reset'|i18n}}
                                                </button>
                                                <button type="submit" [disabled]="!form.form.valid" (click)="retrieveExecute()" class="btn btn-primary">
                                                    <i class="fa fa-search"></i>
                                                    {{'retrieve'|i18n}}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </sa-widget>
                <!-- end widget -->
                <!-- widget Grid Start -->
                <sa-widget [colorbutton]="false" [editbutton]="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>{{'testEfficiency'|i18n}} Retrieve Result</h2>
                    </header>
                    <div *ngIf="!empty">
                        <div class="widget-body no-padding">
                            <div class="col-md-12 col-xs-12">
                                <div class="form-inline well well-lg">
                                    <button class="btn btn-default" (click)="exportExcel()">Export</button>
                                </div>
                            </div>
                            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
                            <!-- the grid -->
                            <wj-flex-grid #flexGrid [itemsSource]="gridData"
                                          (loadedRows)="onGridLoaded($event)">
                                <wj-flex-grid-filter #filter></wj-flex-grid-filter>
                                <!--<wj-flex-grid-column [header]="'Part Number'" [binding]="'partNumber'" [allowMerging]="true"></wj-flex-grid-column>-->
                                <wj-flex-grid-column *ngFor="let col of colInfo" [header]=col [binding]=col></wj-flex-grid-column>
                            </wj-flex-grid>
                        </div>
                    </div>
                    <div *ngIf="empty == true">
                        <div class="widget-body no-padding">
                            <div class="col-md-12 col-xs-12">
                                <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
                                <div style="text-align: center" class="h6">No data available in table</div>
                            </div>
                        </div>
                    </div>
                </sa-widget>
                <!-- widget Grid End -->
            </article>
            <!-- WIDGET END -->
            <!--USING LOT 조회-->
            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <sa-widget [colorbutton]="false" [editbutton]="false" [togglebutton]="true" [deletebutton]="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Lot List</h2>
                    </header>
                    <div>
                        <div class="widget-body ">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Tester Number</th>
                                        <th>Process Code</th>
                                        <th>Lot ID</th>
                                        <!--                                     <th>Yield</th>-->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let item of efficiencyLots">
                                        <td>{{item.testerNumber}}</td>
                                        <td>{{item.processCode}}</td>
                                        <td>{{item.lotId}}</td>
                                        <!--                                         <td *ngIf="lowYield.yield < 90" class="txt-color-red">{{lowYield.yield}}</td>
                                                                                <td *ngIf="lowYield.yield >= 90">{{lowYield.yield}}</td>-->
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </sa-widget>
            </article>
            <!--파이차트-->
            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <!--<article class="col-sm-12 col-md-12 col-lg-12">-->
                <sa-widget [colorbutton]="false" [editbutton]="false" [togglebutton]="true" [deletebutton]="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Efficiency Pie Chart</h2>
                    </header>
                    <div>
                        <div class="widget-body ">
                            <wj-flex-pie  style="display:block"
                                          #flexPie [itemsSource]="pieData" binding="value" bindingName="name" [innerRadius]="innerRadius">
                                <wj-flex-chart-animation #animation [easing]="easing" [duration]="duration"></wj-flex-chart-animation>
                            </wj-flex-pie>
                        </div>
                    </div>
                </sa-widget>
            </article>
        </div>
        <!-- row end-->
    </sa-widgets-grid>
    <!-- end widget grid -->
</div>
