<!--
* 1. File name     : testProgramRevision.component.ts
* 2. Discription   : RTest프로그램을 저장 할 경우 업데이트 되지 않고 모두 Insert 동작이 일어나는데 등록 조회 화면에선 최근 데이터 1건만 보여진다. 이 히스토리 화면에선 모든 데이터가 보여진다.
* 3. writer        : yhkim     2017.02.17
* 4. modifier      :
*/
/**
* version 1.0 : 2017.03.01  /  yhkim  / First Frame Creation
-->
<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <sa-widgets-grid>
        <!-- row start -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <sa-widget [colorbutton]="false" [editbutton]="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                        <h2>Test Program Revision Retrieve</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="form-horizontal">
                                <fieldset>
                                    <!--검색조건 시작-->
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{'Date From'|i18n}}</label>
                                        <div class="col-md-2">
                                            <wj-input-date [(text)]="startDate" [format]="'yyyyMMdd'"></wj-input-date>
                                        </div>
                                        <label class="col-md-2 control-label">{{'Date to'|i18n}}</label>
                                        <div class="col-md-2">
                                            <wj-input-date [(text)]="endDate" [format]="'yyyyMMdd'"></wj-input-date>
                                        </div>
                                        <label class="col-md-2 control-label">{{'firmwareName'|i18n}}<sup><span class="txt-color-red">%</span></sup></label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" placeholder="{{'firmwareName'|i18n}}" [(ngModel)]="retrieveCondDto.firmwareName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{'Part Number'|i18n}}<sup>%</sup></label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="Part Number" type="text"
                                                   [(ngModel)]="retrieveCondDto.partNumber">
                                        </div>

                                        <label class="col-md-2 control-label">{{'Process Code'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="Process Code" type="text"
                                                   [(ngModel)]="retrieveCondDto.processCode">
                                        </div>
                                        <label class="col-md-2 control-label">{{'testerOsVersion'|i18n}}<sup><span class="txt-color-red">%</span></sup></label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control"
                                                   name="testerOsVersion" placeholder="{{'testerOsVersion'|i18n}}" [(ngModel)]="retrieveCondDto.testerOsVersion">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{'Tester Model'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="Tester Model" type="text"
                                                   [(ngModel)]="retrieveCondDto.testerModel">
                                        </div>
                                        <label class="col-md-2 control-label">{{'mainProgramName'|i18n}}<sup><span class="txt-color-red">%</span></sup></label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="{{'mainProgramName'|i18n}}" type="text"
                                                   [(ngModel)]="retrieveCondDto.mainProgramName">
                                        </div>
                                    </div>

                                </fieldset>
                                <!--Retest Skip 기준 end-->
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-default" (click)="resetForm()">
                                                {{'reset'|i18n}}
                                            </button>
                                            <button (click)="retrieveExecute()" class="btn btn-primary">
                                                <i class="fa fa-search"></i>
                                                {{'retrieve'|i18n}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </sa-widget>
                <!-- end widget -->
                <!-- widget Grid Start -->
                <sa-widget [colorbutton]="false" [editbutton]="false" color="blueDark">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Test Program Revision Retrieve Result</h2>
                    </header>
                    <div *ngIf="!empty">
                        <div class="widget-body no-padding">
                            <div class="col-md-12 col-xs-12">
                                <div class="form-inline well well-lg">
                                    <button class="btn btn-default" (click)="exportExcel()">Export</button>
                                </div>
                            </div>
<!--
                            <wj-flex-grid #flexGrid [itemsSource]="gridData" [isReadOnly]="true" [headersVisibility]="'Column'"
                                          (loadedRows)="onGridLoaded($event)"
                                          [autoSizeMode]="'Both'">
                                <wj-flex-grid-filter #filter></wj-flex-grid-filter>
                                <wj-flex-grid-column *ngFor="let col of colInfo" [header]=col
                                                     [binding]=col></wj-flex-grid-column>
                            </wj-flex-grid>

                            <wj-flex-grid [itemsSource]="gridData">
                                <wj-flex-grid-column [header]="'testerModel'" [binding]="'testerModel'" [width]="'*'"></wj-flex-grid-column>
                                <wj-flex-grid-column [header]="'processCode'" [binding]="'processCode'"></wj-flex-grid-column>
                                <wj-flex-grid-column [header]="'temperature'" [binding]="'temperature'" [format]="'n0'">
                                    <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                        <div *ngIf="cell.item.temperature < 90">
                                            <div [ngStyle]="{'background-color':'yellow'}">
                                            {{cell.item.temperature}}
                                        </div>
                                        </div>
                                    </ng-template>
                                </wj-flex-grid-column>
                                <wj-flex-grid-column [header]="'Active'" [binding]="'active'"></wj-flex-grid-column>
                            </wj-flex-grid>
-->

                            <!-- the grid -->
                            <wj-flex-grid #flexGrid [allowResizing]="'Both'"
                                          class="grid"
                                          [itemsSource]="gridData"
                                          [isReadOnly]="true">
                                <wj-flex-grid-column *ngFor="let col of columns"
                                                     [header]="col.header"
                                                     [binding]="col.binding"
                                                     [format]="col.format"
                                                     [width]="col.width">
                                    <ng-template *ngIf="col.cellTemplate" wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                        <wj-component-loader [component]="col.cellTemplate" [properties]="{item: cell.item}"></wj-component-loader>
                                    </ng-template>
                                </wj-flex-grid-column>
                            </wj-flex-grid>

                        </div>
                    </div>
                    <div *ngIf="empty == true">
                        <div class="widget-body no-padding">
                            <div class="col-md-12 col-xs-12">
                                <div style="text-align: center" class="h6">No data available in table</div>
                            </div>
                        </div>
                    </div>
                </sa-widget>
                <!-- widget Grid End -->
            </article>

            <!-- WIDGET END -->
        </div>
        <!-- row end-->
    </sa-widgets-grid>
    <!-- end widget grid -->
</div>
