<!--
 * BETS-UI-0702
 * TDBI RAW Data
 * TDBI 공정에서 발생한 RAW Data를 조회한다
-->
<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <sa-widgets-grid>
        <!-- row start -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <sa-widget [colorbutton]="false" [editbutton]="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                        <h2>TDBI Raw Data Retrieve</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="form-horizontal">
                                <fieldset>
                                    <!--검색조건 시작-->
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{'Date From'|i18n}}</label>
                                        <div class="col-md-2">
                                            <wj-input-date [(text)]="startDate" [format]="'yyyyMMdd'"></wj-input-date>
                                        </div>
                                        <label class="col-md-2 control-label">{{'Date to'|i18n}}</label>
                                        <div class="col-md-2">
                                            <wj-input-date [(text)]="endDate" [format]="'yyyyMMdd'"></wj-input-date>
                                        </div>
                                        <label class="col-md-2 control-label">{{'fileName'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control"  placeholder="{{'fileName'|i18n}}" [(ngModel)]="retrieveCond.fileName">
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button (click)="retrieveExecute()" class="btn btn-primary">
                                                <i class="fa fa-search"></i>
                                                {{'retrieve'|i18n}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </sa-widget>
                <!-- end widget -->
                <!-- widget Grid Start -->
                <sa-widget [colorbutton]="false" [editbutton]="false" color="blueDark">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>TDBI Raw Data Retrieve Result</h2>
                    </header>
                    <div *ngIf="!empty">
                        <div class="widget-body no-padding">
                            <div class="col-md-12 col-xs-12">
                                <div class="form-inline well well-lg">
                                    <button class="btn btn-default" (click)="exportExcel()">Export</button>
                                </div>
                                <div class="form-inline well well-lg">
                                    <button class="btn btn-default" (click)="download(flexGrid)">Download</button>
                                </div>
                            </div>
                            <wj-flex-grid #flexGrid [itemsSource]="gridData" [isReadOnly]="true"
                                          [selectionMode]="'Row'"
                                          >
                                <wj-flex-grid-filter #filter></wj-flex-grid-filter>
                                <!--<wj-flex-grid-column *ngFor="let col of colInfo" [header]=col [binding]=col></wj-flex-grid-column>-->
                                <wj-flex-grid-column [header]="'Location'" [binding]="'location'" [width]="300"></wj-flex-grid-column>
                                <wj-flex-grid-column [header]="'File Name'" [binding]="'fileName'" [width]="'*'"></wj-flex-grid-column>
                                <wj-flex-grid-column [header]="'Create Date'" [binding]="'createDate'" [width]="120"></wj-flex-grid-column>
                                <wj-flex-grid-column [header]="'File Type'" [binding]="'fileType'" [width]="80"></wj-flex-grid-column>
                            </wj-flex-grid>
                        </div>
                    </div>
                    <div *ngIf="empty == true">
                        <div class="widget-body no-padding">
                            <div class="col-md-12 col-xs-12">
                                <div>No data available in table</div>
                            </div>
                        </div>
                    </div>
                </sa-widget>
                <!-- widget Grid End -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- row end-->
    </sa-widgets-grid>
    <!-- end widget grid -->
</div>
