<!--BETS-UI-0401 : Yield Abnormal-->
<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <sa-widgets-grid>
        <!-- row start -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <sa-widget [colorbutton]="false" [editbutton]="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                        <h2>Yield Abnormal Retrieve</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="form-horizontal">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{'Date From'|i18n}}</label>
                                        <div class="col-md-2">
                                            <wj-input-date [(text)]="startDate" [format]="'yyyyMMdd'"></wj-input-date>
                                        </div>
                                        <label class="col-md-2 control-label">{{'Date to'|i18n}}</label>
                                        <div class="col-md-2">
                                            <wj-input-date [(text)]="endDate" [format]="'yyyyMMdd'"></wj-input-date>
                                        </div>
                                        <label class="col-md-2 control-label">{{'sblMode'|i18n}}</label>
                                        <div class="col-md-2">
                                            <!--<input class="form-control" type="text" [(ngModel)]="retrieveCond.sblMode">-->

                                            <label class="select">
                                                <select class="input-sm" [(ngModel)]="retrieveCond.sblMode">
                                                    <option value="sblYieldResult">SBL_YIELD_RESULT</option>
                                                    <option value="sblBin1Result">SBL_BIN1_RESULT</option>
                                                    <option value="sblBin2Result">SBL_BIN2_RESULT</option>
                                                    <option value="sblBin3Result">SBL_BIN3_RESULT</option>
                                                    <option value="sblBin4Result">SBL_BIN4_RESULT</option>
                                                    <option value="sblBin5Result">SBL_BIN5_RESULT</option>
                                                    <option value="sblBin6Result">SBL_BIN6_RESULT</option>
                                                    <option value="sblBin7Result">SBL_BIN7_RESULT</option>
                                                    <option value="sblBin8Result">SBL_BIN8_RESULT</option>
                                                    <option value="sblBin9Result">SBL_BIN9_RESULT</option>
                                                    <option value="all">ALL</option>
                                                </select> <i></i>
                                            </label>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{'Part Number'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="Part Number" type="text"
                                                   [(ngModel)]="retrieveCond.partNumber">
                                        </div>

                                        <label class="col-md-2 control-label">{{'Process Code'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="Process Code" type="text"
                                                   [(ngModel)]="retrieveCond.processCode">
                                        </div>

                                        <label class="col-md-2 control-label">{{'Tester Model'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="Tester Model" type="text"
                                                   [(ngModel)]="retrieveCond.testerModel">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{'testerNumber'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="{{'testerNumber'|i18n}}" type="text"
                                                   [(ngModel)]="retrieveCond.testerNumber">
                                        </div>
                                        <label class="col-md-2 control-label">{{'Tester Head'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="Tester Head" type="text"
                                                   [(ngModel)]="retrieveCond.head">
                                        </div>
                                        <label class="col-md-2 control-label">{{'Tester Counter'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="OP_BIN" type="text"
                                                   [(ngModel)]="retrieveCond.testCounter">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{'Lot ID'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="Lot ID" type="text"
                                                   [(ngModel)]="retrieveCond.lotId">
                                        </div>
                                        <label class="col-md-2 control-label">{{'mainProgramName'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="{{'mainProgramName'|i18n}}" type="text"
                                                   [(ngModel)]="retrieveCond.mainProgramName">
                                        </div>
                                        <label class="col-md-2 control-label">{{'boardId'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="{{'boardId'|i18n}}" type="text"
                                                   [(ngModel)]="retrieveCond.boardId">
                                        </div>
                                    </div>
                                </fieldset>
                                <!--Retest Skip 기준 end-->
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-default" (click)="resetForm()">
                                                {{'reset'|i18n}}
                                            </button>
                                            <button (click)="retrieveExecute()" class="btn btn-primary">
                                                <i class="fa fa-search"></i>
                                                {{'retrieve'|i18n}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </sa-widget>
                <!-- end widget -->
                <!-- widget Grid Start -->
                <sa-widget [colorbutton]="false" [editbutton]="false" color="blueDark">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Yield Abnormal Retrieve Result</h2>
                    </header>
                    <div *ngIf="!empty">
                        <div class="widget-body no-padding">
                            <div class="col-md-12 col-xs-12">
                                <div class="form-inline well well-lg">
                                    <button class="btn btn-default" (click)="exportExcel()">Export</button>
                                </div>
                            </div>
                            <wj-flex-grid #flexGrid [itemsSource]="gridData" [isReadOnly]="true">
                                <wj-flex-grid-filter #filter></wj-flex-grid-filter>
                                <wj-flex-grid-column *ngFor="let col of colInfo" [header]=col
                                                     [binding]=col></wj-flex-grid-column>
                            </wj-flex-grid>
                        </div>
                    </div>
                    <div *ngIf="empty == true">
                        <div class="widget-body no-padding">
                            <div class="col-md-12 col-xs-12">
                                <div>No data available in table</div>
                            </div>
                        </div>
                    </div>
                </sa-widget>
                <!-- widget Grid End -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- row end-->
    </sa-widgets-grid>
    <!-- end widget grid -->
</div>
