<aside id="left-panel">

    <!-- User info -->
    <sa-login-info></sa-login-info>
    <!-- end user info -->

    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul saSmartMenu>
            <!--BETS MENU START-->

<!--
            <li *ngFor="let item of menuData, let index = index">
                <a title="{{ item.section }}"><i class="fa fa-lg fa-fw fa-gears"></i><span class="menu-item-parent">{{ item.section }}</span>
                </a>
                <ul>
                    <li *ngFor="let link of item.links" routerLinkActive="active">
                        &lt;!&ndash; [href] doesn't work in IE/Edge &ndash;&gt;
                        &lt;!&ndash;<a [href]="'#' + link.url">{{ link.text }}</a>&ndash;&gt;
                        <a *ngIf="link.alias" [routerLink]="['/' + link.alias]">{{ link.text }}</a>
                    </li>
                </ul>
            </li>
-->


            <li>
                <a title="BASIS INFORMATION"><i class="fa fa-lg fa-fw fa-gears"></i> <span class="menu-item-parent">{{'BASIS INFORMATION' | i18n}}</span></a>
                <ul>
                    <li routerLinkActive="active">
                        <a routerLink="/basis/ProgramRegisterRetrieve">{{'Program register Retrieve' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/basis/ProgramRegister">{{'Program register' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/basis/BinDescription">{{'Bin description' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/basis/TdbiBoardTypeRegister">{{'TDBI Board Type Register' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/basis/lcVersionRegister">{{'LC Version Register' | i18n}}</a>
                    </li>
                </ul>
            </li>
            <li>
                <a title="YIELD ANALYSIS"><i class="fa fa-lg fa-fw fa-line-chart"></i> <span class="menu-item-parent">{{'YIELD ANALYSIS' | i18n}}</span></a>
                <ul>
                    <li routerLinkActive="active">
                        <a routerLink="/yield/lotyield">{{'Lot yield' | i18n}}</a>
                    </li>
                    <!--
                                        <li routerLinkActive="active">
                                            <a routerLink="/yield/subbin">{{'Sub bin' | i18n}}</a>
                                        </li>
                    -->
                    <li routerLinkActive="active">
                        <a routerLink="/yield/ngbin">{{'NG bin' | i18n}}</a>
                    </li>
                </ul>
            <li>
                <a title="DUTMAP ANALYSIS"><i class="fa fa-lg fa-fw fa-th-large"></i> <span class="menu-item-parent">{{'DUTMAP ANALYSIS' | i18n}}</span></a>
                <ul>
                    <li routerLinkActive="active">
                        <a routerLink="/dutmap/singledut">{{'Single DUT map' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/dutmap/compodut">{{'Composite DUT map' | i18n}}</a>
                    </li>
                </ul>
            </li>
            <li>
                <a title="SBL ANALYSIS"><i class="fa fa-lg fa-fw fa-bar-chart"></i> <span class="menu-item-parent">{{'SBL ANALYSIS' | i18n}}</span></a>
                <ul>
                    <li routerLinkActive="active">
                        <a routerLink="/sblanal/yield">{{'Yield abnormal' | i18n}}</a>
                    </li>
                    <!--
                                        <li routerLinkActive="active">
                                            <a routerLink="/sblanal/subbin">{{'Sub bin abnormal' | i18n}}</a>
                                        </li>
                    -->
                    <li routerLinkActive="active">
                        <a routerLink="/sblanal/testlot">{{'Test lot cancel' | i18n}}</a>
                    </li>
                </ul>
            </li>
            <li>
                <a title="TDBI ANALYSIS"><i class="fa fa-lg fa-fw fa-bars"></i> <span class="menu-item-parent">{{'B/I ANALYSIS' | i18n}}</span></a>
                <ul>
                    <li routerLinkActive="active">
                        <a routerLink="/tdbianal/datasummary">{{'Data Summary' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/tdbianal/serialmap">{{'Board Serial Map' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/tdbianal/compomap">{{'Board Composite Map' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/tdbianal/slotYield">{{'slotYield' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/tdbianal/boardYield">{{'boardYield' | i18n}}</a>
                    </li>
                </ul>
            </li>
            <li>
                <a title="EFFICIENCY ANAYSIS"><i class="fa fa-lg fa-fw fa-thumbs-up"></i> <span class="menu-item-parent">{{'EFFICIENCY ANALYSIS' | i18n}}</span></a>
                <ul>
                    <li routerLinkActive="active">
                        <a routerLink="/efficiencyAnalysis/effic">{{'Test efficiency' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/efficiencyAnalysis/testTime">{{'Test time' | i18n}}</a>
                    </li>
                </ul>
            </li>
            <li>
                <a title="RAW DATA"><i class="fa fa-lg fa-fw fa-file-text-o"></i> <span class="menu-item-parent">{{'RAW DATA' | i18n}}</span></a>
                <ul>
                    <li routerLinkActive="active">
                        <a routerLink="/rawData/casi">{{'Test RAW Data' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/rawData/tdbi">{{'TDBI RAW Data' | i18n}}</a>
                    </li>
                </ul>
            </li>
            <li>
                <a title="HISTORY"><i class="fa fa-lg fa-fw fa-history"></i> <span class="menu-item-parent">{{'HISTORY' | i18n}}</span></a>
                <ul>
                    <li routerLinkActive="active">
                        <a routerLink="/history/progrev">{{'Test program revision' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/history/mesTrackInOut">{{'MES track in/out' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/history/userUsage">{{'User usage' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/history/lcRevision">{{'LC Revision' | i18n}}</a>
                    </li>
                </ul>
            </li>
            <li>
                <a title="ADMINISTRATION"><i class="fa fa-lg fa-fw fa-lock"></i> <span class="menu-item-parent">{{'ADMINISTRATION' | i18n}}</span></a>
                <ul>
                    <!--
                                        <li routerLinkActive="active">
                                            <a routerLink="/auth/login">{{'Login' | i18n}}</a>
                                        </li>
                    -->
                    <li routerLinkActive="active">
                        <a routerLink="/admin/register">{{'Register' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/admin/settings">{{'Settings' | i18n}}</a>
                    </li>
                </ul>
            </li>
            <!--BETS MENU END-->

            <li>
                <a title="---------"><span class="menu-item-parent">{{'----------------------------' | i18n}}</span></a>
                <ul>
                    <li routerLinkActive="active">
                    </li>
                </ul>
            </li>
            <li>
                <a title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span
                        class="menu-item-parent">{{'Dashboard' | i18n}}</span></a>
                <ul>
                    <li routerLinkActive="active">
                        <a routerLink="/dashboard/analytics">{{'Dashboard' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/admin/dashboard">{{'Dashboard2' | i18n}}</a>
                    </li>
                </ul>
            </li>


            <li>
                <a href="#"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span
                        class="menu-item-parent">{{'Graphs' | i18n}}</span></a>
                <ul>
                    <li routerLinkActive="active">
                        <a routerLink="/graphs/flot-charts">{{'Flot Chart' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/graphs/morris-charts">{{'Morris Charts' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/graphs/sparklines">{{'Sparkline' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/graphs/easy-pie-charts">{{'Easy Pie Charts' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/graphs/dygraphs">{{'Dygraphs' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/graphs/chart-js">Chart.js</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/graphs/highchart-tables">Highchart Tables <span
                                class="badge pull-right inbox-badge bg-color-yellow">new</span></a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-lg fa-fw fa-table"></i> <span
                        class="menu-item-parent">{{'Tables' | i18n}}</span></a>
                <ul>
                    <li routerLinkActive="active">
                        <a routerLink="/tables/normal">{{'Normal Tables' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/tables/datatables">{{'Data Tables' | i18n}} <span
                                class="badge inbox-badge bg-color-greenLight">v1.10</span></a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i> <span
                        class="menu-item-parent">{{'Forms' | i18n}}</span></a>
                <ul>
                    <li routerLinkActive="active">
                        <a routerLink="/forms/elements">{{'Smart Form Elements' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/forms/layouts">{{'Smart Form Layouts' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/forms/validation">{{'Smart Form Validation' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/forms/bootstrap-elements">{{'Bootstrap Form Elements' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/forms/bootstrap-validation">{{'Bootstrap Form Validation' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/forms/plugins">{{'Form Plugins' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/forms/wizards">{{'Wizards' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/forms/editors">{{'Bootstrap Editors' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/forms/dropzone">{{'Dropzone' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/forms/image-cropping">{{'Image Cropping' | i18n}} <span
                                class="badge pull-right inbox-badge bg-color-yellow">new</span></a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-lg fa-fw fa-desktop"></i> <span
                        class="menu-item-parent">{{'UI Elements' | i18n}}</span></a>
                <ul>
                    <li routerLinkActive="active">
                        <a routerLink="/ui/general">{{'General Elements' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/ui/buttons">{{'Buttons' | i18n}}</a>
                    </li>
                    <li>
                        <a href="#">{{'Icons' | i18n}}</a>
                        <ul>
                            <li routerLinkActive="active">
                                <a routerLink="/ui/icons/font-awesome"><i class="fa fa-plane"></i> {{'Font Awesome' | i18n}}</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/ui/icons/glyphicons"><i class="glyphicon glyphicon-plane"></i>
                                    {{'Glyph Icons' | i18n}}</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/ui/icons/flags"><i class="fa fa-flag"></i> {{'Flags' | i18n}}</a>
                            </li>
                        </ul>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/ui/grid">{{'Grid' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/ui/tree-views">{{'Tree View' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/ui/nestable-lists">{{'Nestable Lists' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/ui/jquery-ui">{{'JQuery UI' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/ui/typography">{{'Typography' | i18n}}</a>
                    </li>
                    <li>
                        <a href="#">{{'Six Level Menu' | i18n}}</a>
                        <ul>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-folder-open"></i> {{'Item #2' | i18n}}</a>
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-fw fa-folder-open"></i> {{'Sub #2.1' | i18n}} </a>
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa fa-fw fa-file-text"></i> {{'Item#2.1.1' | i18n}}</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-fw fa-plus"></i>{{'Expand' | i18n}}</a>
                                                <ul>
                                                    <li>
                                                        <a href="#"><i class="fa fa-fw fa-file-text"></i>
                                                            {{'File' | i18n}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-fw fa-trash-o"></i>
                                                            {{'Delete' | i18n}}</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-folder-open"></i> {{'Item #3' | i18n}}</a>

                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-fw fa-folder-open"></i> {{'3ed Level' | i18n}}
                                        </a>
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa fa-fw fa-file-text"></i>
                                                    {{'File' | i18n}}</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-fw fa-file-text"></i>
                                                    {{'File' | i18n}}</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

        </ul>

    </nav>

    <sa-minify-menu></sa-minify-menu>

</aside>
