<div id="content">
    <sa-widgets-grid>
        <div class="row">
            <article class="col-sm-12">
                <sa-widget
                        [togglebutton]="false"
                        [editbutton]="false"
                        [fullscreenbutton]="false"
                        [colorbutton]="false"
                        [deletebutton]="false" saSparklineContainer saEasyPieChartContainer>

                    <header>
                    <span class="widget-icon">
                        <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>

                        <h2>Yield of Days </h2>

                        <ul class="nav nav-tabs pull-right in" id="myTab">
                            <li class="active">
                                <a data-toggle="tab" href="#s1"><i class="fa fa-clock-o"></i> <span class="hidden-mobile hidden-tablet">Yield</span></a>
                            </li>

                            <!--
                                                        <li>
                                                            <a data-toggle="tab" href="#s2"><i class="fa fa-table"></i> <span class="hidden-mobile hidden-tablet">Month</span></a>
                                                        </li>
                            -->
                        </ul>
                    </header>

                    <div class="no-padding">

                        <div class="widget-body">

                            <div id="myTabContent" class="tab-content">

                                <!--차트위치-->


                            </div>

                        </div>

                    </div>

                </sa-widget>
            </article>
        </div>
        <div class="row">
            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <sa-widget [editbutton]="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Chang Control</h2>
                    </header>
                    <div>
                        <div class="widget-body ">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>Target</th>
                                        <th>Time</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let list of changeControl">
                                        <td>{{list.action}}</td>
                                        <td>{{list.target}}</td>
                                        <td>{{list.time}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </sa-widget>
            </article>
            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <sa-widget [editbutton]="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Low Yield Lot</h2>
                    </header>
                    <div>
                        <div class="widget-body ">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Lot</th>
                                        <th>Oper</th>
                                        <th>Yield</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let lowYield of lowYieldLot">
                                        <td>{{lowYield.lotId}}</td>
                                        <td>{{lowYield.processCode}}</td>
                                        <td>{{lowYield.yield}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </sa-widget>
            </article>

        </div>

    </sa-widgets-grid>
</div>

