<div id="content">
    <sa-widgets-grid>
        <div class="row">
            <article *ngIf="processCodes[0]" class="col-xs-12 col-sm-3 col-md-3 col-lg-6">
                <sa-widget #saWidget1 [colorbutton]="false" [editbutton]="false" [togglebutton]="true" [deletebutton]="false" color="greenLight">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>{{processCodes[0]}}</h2>
                    </header>
                    <div>
                        <div class="widget-body ">
                            <wj-flex-chart #chart1
                                           class="chart"
                                           style="display:block;height:200px;"
                                           [chartType]="'Column'"
                                           [itemsSource]="chartDatas[0]"
                                           [bindingX]="'mon'"
                                           [labelContent]="'{y}'">
                                <wj-flex-chart-axis [wjProperty]="'axisX'"
                                                    [labelAngle]="0"></wj-flex-chart-axis>
                                <wj-flex-chart-axis [wjProperty]="'axisY'"
                                                    [title]="''"
                                                    [min]="0"
                                                    [max]="100">
                                </wj-flex-chart-axis>
                                <wj-flex-chart-series [name]="'Input'" [binding]="'capa'">
                                    <wj-flex-chart-axis [wjProperty]="'axisY'"
                                                        [position]="'Right'"
                                                        [title]="''"
                                                        [min]="0"
                                                        [max]="100000">
                                    </wj-flex-chart-axis>
                                </wj-flex-chart-series>
                                <wj-flex-chart-series [name]="'yield'" [chartType]="'LineSymbols'"
                                                      [binding]="'yield'"  ></wj-flex-chart-series>
                                <wj-flex-chart-legend position="Top"></wj-flex-chart-legend>
                            </wj-flex-chart>
                        </div>
                    </div>
                </sa-widget>
            </article>
            <article *ngIf="processCodes[1]" class="col-xs-12 col-sm-3 col-md-3 col-lg-6">
                <sa-widget [editbutton]="false" color="greenLight">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>{{processCodes[1]}}</h2>
                    </header>
                    <div>
                        <div class="widget-body ">
                            <wj-flex-chart #chart2
                                           class="chart"
                                           style="display:block;height:200px;"
                                           [chartType]="'Column'"
                                           [itemsSource]="chartDatas[1]"
                                           [bindingX]="'mon'"
                                           [labelContent]="'{y}'">
                                <wj-flex-chart-axis [wjProperty]="'axisX'"
                                                    [labelAngle]="0"></wj-flex-chart-axis>
                                <wj-flex-chart-axis [wjProperty]="'axisY'"
                                                    [title]="''"
                                                    [min]="0"
                                                    [max]="100">
                                </wj-flex-chart-axis>
                                <wj-flex-chart-series [name]="'Input'" [binding]="'capa'">
                                    <wj-flex-chart-axis [wjProperty]="'axisY'"
                                                        [position]="'Right'"
                                                        [title]="''"
                                                        [min]="0"
                                                        [max]="100000">
                                    </wj-flex-chart-axis>
                                </wj-flex-chart-series>
                                <wj-flex-chart-series [name]="'yield'" [chartType]="'LineSymbols'"
                                                      [binding]="'yield'"  ></wj-flex-chart-series>
                                <wj-flex-chart-legend position="Top"></wj-flex-chart-legend>
                            </wj-flex-chart>
                        </div>
                    </div>
                </sa-widget>
            </article><article *ngIf="processCodes[2]" class="col-xs-12 col-sm-3 col-md-3 col-lg-6">
            <sa-widget [editbutton]="false" color="greenLight">
                <header>
                    <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                    <h2>{{processCodes[2]}}</h2>
                </header>
                <div>
                    <div class="widget-body ">
                        <wj-flex-chart #chart3
                                       class="chart"
                                       style="display:block;height:200px;"
                                       [chartType]="'Column'"
                                       [itemsSource]="chartDatas[2]"
                                       [bindingX]="'mon'"
                                       [labelContent]="'{y}'">
                            <wj-flex-chart-axis [wjProperty]="'axisX'"
                                                [labelAngle]="0"></wj-flex-chart-axis>
                            <wj-flex-chart-axis [wjProperty]="'axisY'"
                                                [title]="''"
                                                [min]="0"
                                                [max]="100">
                            </wj-flex-chart-axis>
                            <wj-flex-chart-series [name]="'Input'" [binding]="'capa'">
                                <wj-flex-chart-axis [wjProperty]="'axisY'"
                                                    [position]="'Right'"
                                                    [title]="''"
                                                    [min]="0"
                                                    [max]="100000">
                                </wj-flex-chart-axis>
                            </wj-flex-chart-series>
                            <wj-flex-chart-series [name]="'yield'" [chartType]="'LineSymbols'"
                                                  [binding]="'yield'"  ></wj-flex-chart-series>
                            <wj-flex-chart-legend position="Top"></wj-flex-chart-legend>
                        </wj-flex-chart>
                    </div>
                </div>
            </sa-widget>
        </article><article *ngIf="processCodes[3]" class="col-xs-12 col-sm-3 col-md-3 col-lg-6">
            <sa-widget [editbutton]="false" color="greenLight">
                <header>
                    <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                    <h2>{{processCodes[3]}}</h2>
                </header>
                <div>
                    <div class="widget-body ">
                        <wj-flex-chart #chart4
                                       class="chart"
                                       style="display:block;height:200px;"
                                       [chartType]="'Column'"
                                       [itemsSource]="chartDatas[3]"
                                       [bindingX]="'mon'"
                                       [labelContent]="'{y}'">
                            <wj-flex-chart-axis [wjProperty]="'axisX'"
                                                [labelAngle]="0"></wj-flex-chart-axis>
                            <wj-flex-chart-axis [wjProperty]="'axisY'"
                                                [title]="''"
                                                [min]="0"
                                                [max]="100">
                            </wj-flex-chart-axis>
                            <wj-flex-chart-series [name]="'Input'" [binding]="'capa'">
                                <wj-flex-chart-axis [wjProperty]="'axisY'"
                                                    [position]="'Right'"
                                                    [title]="''"
                                                    [min]="0"
                                                    [max]="100000">
                                </wj-flex-chart-axis>
                            </wj-flex-chart-series>
                            <wj-flex-chart-series [name]="'yield'" [chartType]="'LineSymbols'"
                                                  [binding]="'yield'"  ></wj-flex-chart-series>
                            <wj-flex-chart-legend position="Top"></wj-flex-chart-legend>
                        </wj-flex-chart>
                    </div>
                </div>
            </sa-widget>
        </article><article *ngIf="processCodes[4]" class="col-xs-12 col-sm-3 col-md-3 col-lg-6">
            <sa-widget [editbutton]="false" color="greenLight">
                <header>
                    <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                    <h2>{{processCodes[4]}}</h2>
                </header>
                <div>
                    <div class="widget-body ">
                        <wj-flex-chart #chart5
                                       class="chart"
                                       style="display:block;height:200px;"
                                       [chartType]="'Column'"
                                       [itemsSource]="chartDatas[4]"
                                       [bindingX]="'mon'"
                                       [labelContent]="'{y}'">
                            <wj-flex-chart-axis [wjProperty]="'axisX'"
                                                [labelAngle]="0"></wj-flex-chart-axis>
                            <wj-flex-chart-axis [wjProperty]="'axisY'"
                                                [title]="''"
                                                [min]="0"
                                                [max]="100">
                            </wj-flex-chart-axis>
                            <wj-flex-chart-series [name]="'Input'" [binding]="'capa'">
                                <wj-flex-chart-axis [wjProperty]="'axisY'"
                                                    [position]="'Right'"
                                                    [title]="''"
                                                    [min]="0"
                                                    [max]="100000">
                                </wj-flex-chart-axis>
                            </wj-flex-chart-series>
                            <wj-flex-chart-series [name]="'yield'" [chartType]="'LineSymbols'"
                                                  [binding]="'yield'"  ></wj-flex-chart-series>
                            <wj-flex-chart-legend position="Top"></wj-flex-chart-legend>
                        </wj-flex-chart>
                    </div>
                </div>
            </sa-widget>
        </article><article *ngIf="processCodes[5]" class="col-xs-12 col-sm-3 col-md-3 col-lg-6">
            <sa-widget [editbutton]="false" color="greenLight">
                <header>
                    <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                    <h2>{{processCodes[5]}}</h2>
                </header>
                <div>
                    <div class="widget-body ">
                        <wj-flex-chart #chart6
                                       class="chart"
                                       style="display:block;height:200px;"
                                       [chartType]="'Column'"
                                       [itemsSource]="chartDatas[5]"
                                       [bindingX]="'mon'"
                                       [labelContent]="'{y}'">
                            <wj-flex-chart-axis [wjProperty]="'axisX'"
                                                [labelAngle]="0"></wj-flex-chart-axis>
                            <wj-flex-chart-axis [wjProperty]="'axisY'"
                                                [title]="''"
                                                [min]="0"
                                                [max]="100">
                            </wj-flex-chart-axis>
                            <wj-flex-chart-series [name]="'Input'" [binding]="'capa'">
                                <wj-flex-chart-axis [wjProperty]="'axisY'"
                                                    [position]="'Right'"
                                                    [title]="''"
                                                    [min]="0"
                                                    [max]="100000">
                                </wj-flex-chart-axis>
                            </wj-flex-chart-series>
                            <wj-flex-chart-series [name]="'yield'" [chartType]="'LineSymbols'"
                                                  [binding]="'yield'"  ></wj-flex-chart-series>
                            <wj-flex-chart-legend position="Top"></wj-flex-chart-legend>
                        </wj-flex-chart>
                    </div>
                </div>
            </sa-widget>
        </article><article *ngIf="processCodes[6]" class="col-xs-12 col-sm-3 col-md-3 col-lg-6">
            <sa-widget [editbutton]="false" color="greenLight">
                <header>
                    <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                    <h2>{{processCodes[6]}}</h2>
                </header>
                <div>
                    <div class="widget-body ">
                        <wj-flex-chart #chart7
                                       class="chart"
                                       style="display:block;height:200px;"
                                       [chartType]="'Column'"
                                       [itemsSource]="chartDatas[6]"
                                       [bindingX]="'mon'"
                                       [labelContent]="'{y}'">
                            <wj-flex-chart-axis [wjProperty]="'axisX'"
                                                [labelAngle]="0"></wj-flex-chart-axis>
                            <wj-flex-chart-axis [wjProperty]="'axisY'"
                                                [title]="''"
                                                [min]="0"
                                                [max]="100">
                            </wj-flex-chart-axis>
                            <wj-flex-chart-series [name]="'Input'" [binding]="'capa'">
                                <wj-flex-chart-axis [wjProperty]="'axisY'"
                                                    [position]="'Right'"
                                                    [title]="''"
                                                    [min]="0"
                                                    [max]="100000">
                                </wj-flex-chart-axis>
                            </wj-flex-chart-series>
                            <wj-flex-chart-series [name]="'yield'" [chartType]="'LineSymbols'"
                                                  [binding]="'yield'"  ></wj-flex-chart-series>
                            <wj-flex-chart-legend position="Top"></wj-flex-chart-legend>
                        </wj-flex-chart>
                    </div>
                </div>
            </sa-widget>
        </article><article *ngIf="processCodes[7]" class="col-xs-12 col-sm-3 col-md-3 col-lg-6">
            <sa-widget [editbutton]="false" color="greenLight">
                <header>
                    <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                    <h2>{{processCodes[7]}}</h2>
                </header>
                <div>
                    <div class="widget-body ">
                        <wj-flex-chart #chart8
                                       class="chart"
                                       style="display:block;height:200px;"
                                       [chartType]="'Column'"
                                       [itemsSource]="chartDatas[7]"
                                       [bindingX]="'mon'"
                                       [labelContent]="'{y}'">
                            <wj-flex-chart-axis [wjProperty]="'axisX'"
                                                [labelAngle]="0"></wj-flex-chart-axis>
                            <wj-flex-chart-axis [wjProperty]="'axisY'"
                                                [title]="''"
                                                [min]="0"
                                                [max]="100">
                            </wj-flex-chart-axis>
                            <wj-flex-chart-series [name]="'Input'" [binding]="'capa'">
                                <wj-flex-chart-axis [wjProperty]="'axisY'"
                                                    [position]="'Right'"
                                                    [title]="''"
                                                    [min]="0"
                                                    [max]="100000">
                                </wj-flex-chart-axis>
                            </wj-flex-chart-series>
                            <wj-flex-chart-series [name]="'yield'" [chartType]="'LineSymbols'"
                                                  [binding]="'yield'"  ></wj-flex-chart-series>
                            <wj-flex-chart-legend position="Top"></wj-flex-chart-legend>
                        </wj-flex-chart>
                    </div>
                </div>
            </sa-widget>
        </article>

        </div>
        <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Yied Detail</h4>
                    </div>
                    <DashboardChartDetail [chartDataDetail]="chartDataDetail"></DashboardChartDetail>
                </div>
            </div>
        </div>
        <div class="row">
            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <sa-widget [colorbutton]="false" [editbutton]="false" [togglebutton]="true" [deletebutton]="false" color="greenLight">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Chang Control</h2>
                    </header>
                    <div>
                        <div class="widget-body ">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>Target</th>
                                        <th>Time</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let list of changeControl">
                                        <td>{{list.action}}</td>
                                        <td>{{list.target}}</td>
                                        <td>{{list.time}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </sa-widget>
            </article>
            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <sa-widget [colorbutton]="false" [editbutton]="false" [togglebutton]="true" [deletebutton]="false" color="greenLight">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Low Yield Lot</h2>
                    </header>
                    <div>
                        <div class="widget-body ">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Lot</th>
                                        <th>Oper</th>
                                        <th>Yield</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let lowYield of lowYieldLot">
                                        <td>{{lowYield.lotId}}</td>
                                        <td>{{lowYield.processCode}}</td>
                                        <td *ngIf="lowYield.yield < 90" class="txt-color-red">{{lowYield.yield}}
                                        </td>
                                        <td *ngIf="lowYield.yield >= 90">{{lowYield.yield}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </sa-widget>
            </article>
        </div>
    </sa-widgets-grid>
</div>

