<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <sa-widgets-grid>
        <!-- row start -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <sa-widget [colorbutton]="false" [editbutton]="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                        <h2>TDBI Board Type Retrieve</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="form-horizontal">
                                <fieldset>
                                    <!--POP UP Modal dialog Stat-->
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{'Board Type No'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="Board Type No" type="text" name="boardTypeNo" [(ngModel)]="retrieveCondDto.boardTypeNo">
                                        </div>
                                        <label class="col-md-2 control-label">{{'X Socket Quantity'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="X Socket Quantity" type="text" name="xSocketQty" [(ngModel)]="retrieveCondDto.xSocketQty">
                                        </div>
                                        <label class="col-md-2 control-label">{{'Y Socket Quantity'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="Y Socket Quantity" type="text" name="ySocketQty" [(ngModel)]="retrieveCondDto.ySocketQty">
                                        </div>
<!--
                                        <label class="col-md-2 control-label">{{'tdbiBoardDescription'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="{{'tdbiBoardDescription'|i18n}}" type="text" name="tdbiBoardDescription" [(ngModel)]="retrieveCondDto.tdbiBoardDescription">
                                        </div>
-->
                                    </div>
                                </fieldset>
                                <!--Retest Skip 기준 end-->
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-default" (click)="resetForm()">
                                                {{'reset'|i18n}}
                                            </button>
                                            <button type="button" class="btn btn-success" (click)="lgModal.show()">
                                                <i class="fa file-o"></i>
                                                New
                                            </button>
                                            <button (click)="retrieveExecute()" class="btn btn-primary">
                                                <i class="fa fa-search"></i>
                                                {{'Retrieve'|i18n}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </sa-widget>
                <!-- end widget -->
                <dynamic-component [componentData]="componentData"></dynamic-component>
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- row end-->
    </sa-widgets-grid>
    <!-- end widget grid -->
</div>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">TDBI Board Type Register</h4>
            </div>
            <form class="form-horizontal" #tableForm="ngForm" (ngSubmit)="saveForm()" novalidate>
                <div class="modal-body">
                    <fieldset>
                        <!--<legend>Last TABLED efault Form Elements</legend>-->
                        <div class="form-group">
                            <label class="col-md-2 control-label">{{'Board Type No'|i18n}}</label>
                            <div class="col-md-2">
                                <input class="form-control" placeholder="" type="text" id="boardTypeNo" name="boardTypeNo" [(ngModel)]="tdbiBoardType.boardTypeNo">
                            </div>
                            <label class="col-md-2 control-label">{{'X Socket Quantity'|i18n}}</label>
                            <div class="col-md-2">
                                <input class="form-control" placeholder="" type="text" id="xSocketQty" name="xSocketQty" [(ngModel)]="tdbiBoardType.xSocketQty">
                            </div>
                            <label class="col-md-2 control-label">{{'Y Socket Quantity'|i18n}}</label>
                            <div class="col-md-2">
                                <input class="form-control" placeholder="" type="text" id="ySocketQty" name="ySocketQty" [(ngModel)]="tdbiBoardType.ySocketQty">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">{{'tdbiBoardTypeDescription'|i18n}}</label>
                            <div class="col-md-8">
                                <input class="form-control" placeholder="" type="text" name="tdbiBoardTypeDescription" [(ngModel)]="tdbiBoardType.tdbiBoardTypeDescription">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="lgModal.hide()">
                        Cancel
                    </button>
                    <button type="button" class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i>
                        {{'save'|i18n}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
