<!-- Wrapper-->
<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'views/common/navigation.html'"></div>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

        <!-- Page wrapper -->
        <div ng-include="'views/common/topnavbar.html'"></div>

        <!-- Main view  -->
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>A/S관리</h5>
                        <div ibox-tools></div>
                    </div>
                    <div class="ibox-content">
                        <form method="get" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">처리자</label>
                                <div class="col-sm-4"><input type="text" placeholder="기사1" class="form-control">
                                </div>
                                <label class="col-sm-2 control-label">처리결과</label>
                                <div class="col-sm-4"><input type="text" placeholder="보류" class="form-control"></div>
                            </div>
                            <div class="hr-line-dashed"></div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">제품명</label>
                                <div class="col-sm-4"><input type="text" placeholder="컴퓨터" class="form-control"></div>

                                <label class="col-sm-2 control-label">모델명</label>
                                <div class="col-sm-4"><input type="text" placeholder="A-220" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">불량원인</label>
                                <div class="col-sm-4"><input type="text" placeholder="부팅불량" class="form-control">

                                </div>
                                <label class="col-sm-2 control-label">처리내용</label>
                                <div class="col-sm-4"><input type="text" placeholder="파워서플라이교체" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">유무상구분</label>
                                <div class="col-sm-4"><input type="text" placeholder="무료" class="form-control">

                                </div>
                                <label class="col-sm-2 control-label">자재사용여부</label>
                                <div class="col-sm-4"><input type="text" placeholder="사용" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">합계금액</label>
                                <div class="col-sm-4"><input type="text" placeholder="0" class="form-control">

                                </div>
                                <label class="col-sm-2 control-label">기술료</label>
                                <div class="col-sm-4"><input type="text" placeholder="0" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">출장비</label>
                               <div class="col-sm-4"><input type="text" placeholder="0" class="form-control">

                                </div>
                                <label class="col-sm-2 control-label">VAT</label>
                                <div class="col-sm-4"><input type="text" placeholder="0" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">운송비</label>
                               <div class="col-sm-4"><input type="text" placeholder="0" class="form-control">

                                </div>
                                <label class="col-sm-2 control-label">자재비</label>
                                <div class="col-sm-4"><input type="text" placeholder="0" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">특기사항</label>
                                <div class="col-sm-10"><input type="text" placeholder="JS고객임" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">메모</label>
                                <div class="col-sm-10"><input type="text" placeholder="기존 AS 문제로 자재비를 받지 않음" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>


                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-white" type="submit">취소</button>
                                    <button class="btn btn-primary" type="submit">저장</button>
                                </div>
                            </div>
                            <div class="ibox-title">
                                <h5>고객정보</h5>
                                <div ibox-tools></div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">접수번호</label>
                                <div class="col-sm-4"><input type="text" placeholder="201612-001" class="form-control">

                                </div>
                                <label class="col-sm-2 control-label">전화번호</label>
                                <div class="col-sm-4"><input type="text" placeholder="내근" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">접수자</label>
                                <div class="col-sm-4"><input type="text" placeholder="기사" class="form-control">

                                </div>
                                <label class="col-sm-2 control-label">A/S 유형</label>
                                <div class="col-sm-4"><input type="text" placeholder="일반" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">고객이름</label>
                                <div class="col-sm-4"><input type="text" placeholder="중학교1" class="form-control">

                                </div>
                                <label class="col-sm-2 control-label">전화번호</label>
                                <div class="col-sm-4"><input type="text" placeholder="041-123-1234" class="form-control">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">주소</label>
                                <div class="col-sm-10"><input type="text" placeholder="공주시 신관동 중학교1" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">고장증상</label>
                                <div class="col-sm-10"><input type="text" placeholder="컴퓨터 부팅 불가" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                        </form>

                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div ng-include="'views/common/footer.html'"></div>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->