<!-- Wrapper-->
<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'views/common/navigation.html'"></div>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

        <!-- Page wrapper -->
        <div ng-include="'views/common/topnavbar.html'"></div>

        <!-- Main view  -->
        <div class="row">
            <div id="grid_container" class="col-lg-12">
                <table id="jqGrid"></table>
                <div id="jqGridPager"></div>
                <div id="listLayout"></div>

                <script type="text/javascript">
                    $(document).ready(function () {
                        var colM = [];
                        console.log("비동기 통신을 하여 json타입으로 호출한다.");
                        $.ajax({
                            url: '/base/20130101013529', async: false, dataType: 'json', success: function (data) {
                                for (var key in data) {
                                    colM.push({name: key, index: key, width: 100});
                                }
                                console.log(colM);
                                $("#listLayout").html(data);
                            }
                        });

                        $("#jqGrid").jqGrid({
                            url: '/tests',
                            mtype: "GET",
                            datatype: "json",
                            colModel: colM,
                            viewrecords: true,
                            //width: 780,
                            //height: 250,
                            rowNum: 20,
                            shrinkToFit : true, /* RowWidth 고정 */
                            pager: "#jqGridPager"
                        });

                        resizeJqGridWidth('jqGrid', 'grid_container', $('#grid_container').width(), true);
                        /*
                         * @param string grid_id 사이즈를 변경할 그리드의 아이디
                         * @param string div_id 그리드의 사이즈의 기준을 제시할 div 의 아이디
                         * @param string width 그리드의 초기화 width 사이즈
                         * @param boolean tf 그리드의 리사이즈 여부(true/false)
                         */
                        function resizeJqGridWidth(grid_id, div_id, width, tf){

                            // window에 resize 이벤트를 바인딩 한다.
                            $(window).bind('resize', function() {

                                var resizeWidth = $('#grid_container').width()-33; //jQuery-ui의 padding 설정 및 border-width값때문에 넘치는 걸 빼줌.

                                // 그리드의 width 초기화
                                $('#' + grid_id).setGridWidth( resizeWidth, tf);

                                // 그리드의 width를 div 에 맞춰서 적용
                                $('#' + grid_id).setGridWidth( resizeWidth , tf); //Resized to new width as per window.

                            }).trigger('resize');
                        }
                    });
                </script>
            </div>

        </div>


        <!-- Footer -->
        <div ng-include="'views/common/footer.html'"></div>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->