<!-- Wrapper-->
<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'views/common/navigation.html'"></div>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

        <!-- Page wrapper -->
        <div ng-include="'views/common/topnavbar.html'"></div>

        <!-- Main view  -->
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">



                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label" for="product_name">시리얼 No</label>
                                    <input type="text" id="product_name" name="product_name" value="" placeholder="시리얼 No" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label" for="price">품목코드</label>
                                    <input type="text" id="price" name="price" value="" placeholder="FXXXX" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label" for="quantity">품목명</label>
                                    <input type="text" id="quantity" name="quantity" value="" placeholder="품목명" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label" for="status">제고수량</label>
                                    <select name="status" id="status" class="form-control">
                                        <option value="1" selected="">센터1</option>
                                        <option value="0">Pending</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped">

                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>AAA001</td>
                                    <td>F0001</td>
                                    <td>파워서플라이</td>
                                    <td><strong>20</strong></td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>AAA002</td>
                                    <td>F0003</td>
                                    <td>하드디스크</td>
                                    <td><strong>40</strong></td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>AAA003</td>
                                    <td>F0001</td>
                                    <td>파워서플라이</td>
                                    <td><strong>75</strong></td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>AAA004</td>
                                    <td>F0001</td>
                                    <td>파워서플라이</td>
                                    <td><strong>18</strong></td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>AAA005</td>
                                    <td>F0003</td>
                                    <td>하드디스크</td>
                                    <td><strong>40</strong></td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>AAA006</td>
                                    <td>F0002</td>
                                    <td>DDR3</td>
                                    <td><strong>20</strong></td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>AAA007</td>
                                    <td>F0002</td>
                                    <td>DDR3</td>
                                    <td><strong>18</strong></td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>AAA008</td>
                                    <td>F0001</td>
                                    <td>파워서플라이</td>
                                    <td><strong>20</strong></td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>AAA009</td>
                                    <td>F0002</td>
                                    <td>DDR3</td>
                                    <td><strong>40</strong></td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>AAA010</td>
                                    <td>F0001</td>
                                    <td>파워서플라이</td>
                                    <td><strong>75</strong></td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>BBB001</td>
                                    <td>F0002</td>
                                    <td>DDR3</td>
                                    <td><strong>18</strong></td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>BBB002</td>
                                    <td>F0002</td>
                                    <td>DDR3</td>
                                    <td><strong>40</strong></td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td>BBB003</td>
                                    <td>F0001</td>
                                    <td>DDR3</td>
                                    <td><strong>20</strong></td>

                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td>BBB004</td>
                                    <td>F0002</td>
                                    <td>DDR3</td>
                                    <td><strong>18</strong></td>

                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>15</td>
                                    <td>AAA004</td>
                                    <td>F0001</td>
                                    <td>파워서플라이</td>
                                    <td><strong>18</strong></td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>16</td>
                                    <td>AAA005</td>
                                    <td>F0003</td>
                                    <td>하드디스크</td>
                                    <td><strong>40</strong></td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>17</td>
                                    <td>AAA006</td>
                                    <td>F0002</td>
                                    <td>DDR3</td>
                                    <td><strong>20</strong></td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>18</td>
                                    <td>AAA007</td>
                                    <td>F0002</td>
                                    <td>DDR3</td>
                                    <td><strong>18</strong></td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>19</td>
                                    <td>AAA008</td>
                                    <td>F0001</td>
                                    <td>파워서플라이</td>
                                    <td><strong>20</strong></td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>20</td>
                                    <td>AAA009</td>
                                    <td>F0002</td>
                                    <td>DDR3</td>
                                    <td><strong>40</strong></td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>21</td>
                                    <td>AAA010</td>
                                    <td>F0001</td>
                                    <td>파워서플라이</td>
                                    <td><strong>75</strong></td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>22</td>
                                    <td>BBB001</td>
                                    <td>F0002</td>
                                    <td>DDR3</td>
                                    <td><strong>18</strong></td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>23</td>
                                    <td>BBB002</td>
                                    <td>F0002</td>
                                    <td>DDR3</td>
                                    <td><strong>40</strong></td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr> <tr>
                                    <td>24</td>
                                    <td>AAA004</td>
                                    <td>F0001</td>
                                    <td>파워서플라이</td>
                                    <td><strong>18</strong></td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>25</td>
                                    <td>AAA005</td>
                                    <td>F0003</td>
                                    <td>하드디스크</td>
                                    <td><strong>40</strong></td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>26</td>
                                    <td>AAA006</td>
                                    <td>F0002</td>
                                    <td>DDR3</td>
                                    <td><strong>20</strong></td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>27</td>
                                    <td>AAA007</td>
                                    <td>F0002</td>
                                    <td>DDR3</td>
                                    <td><strong>18</strong></td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>28</td>
                                    <td>AAA008</td>
                                    <td>F0001</td>
                                    <td>파워서플라이</td>
                                    <td><strong>20</strong></td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>29</td>
                                    <td>AAA009</td>
                                    <td>F0002</td>
                                    <td>DDR3</td>
                                    <td><strong>40</strong></td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>30</td>
                                    <td>AAA010</td>
                                    <td>F0001</td>
                                    <td>파워서플라이</td>
                                    <td><strong>75</strong></td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>31</td>
                                    <td>BBB001</td>
                                    <td>F0002</td>
                                    <td>DDR3</td>
                                    <td><strong>18</strong></td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>32</td>
                                    <td>BBB002</td>
                                    <td>F0002</td>
                                    <td>DDR3</td>
                                    <td><strong>40</strong></td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div ng-include="'views/common/footer.html'"></div>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->