<!--
* 1. File name     : userUsage.component.html
* 2. Discription   : 사용자 이력화면이다. 사용자 이력정보는 각 화면이 Init되는 시점에 UserUsage 서비스를 호출하여 자신의 화면 아이디를 시간과 함께 저장한다. 이렇게 저장된 내역을 조회하는 화면이다.
* 3. writer        : yhkim     2017.03.01
* 4. modifier      :
* 5. UI Id         : BETS-UI-0803 : Test Program Revision
*/
/**
* version 1.0 : 2017.03.01  /  yhkim  / First Frame Creation
-->
<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <sa-widgets-grid>
        <!-- row start -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <sa-widget [colorbutton]="false" [editbutton]="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                        <h2>User Usage Revision Retrieve</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="form-horizontal">
                                <fieldset>
                                    <!--검색조건 시작-->
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{'Date From'|i18n}}</label>
                                        <div class="col-md-2">
                                            <wj-input-date [(text)]="startDate" [format]="'yyyyMMdd'"></wj-input-date>
                                        </div>
                                        <label class="col-md-2 control-label">{{'Date to'|i18n}}</label>
                                        <div class="col-md-2">
                                            <wj-input-date [(text)]="endDate" [format]="'yyyyMMdd'"></wj-input-date>
                                        </div>
                                        <label class="col-md-2 control-label">{{'userId'|i18n}}<sup><span class="txt-color-red">%</span></sup></label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" placeholder="{{'userId'|i18n}}" [(ngModel)]="retrieveCondDto.userId">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{'uiId'|i18n}}<sup><span class="txt-color-red">%</span></sup></label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="{{'uiId'|i18n}}" type="text" [(ngModel)]="retrieveCondDto.uiId">
                                        </div>
                                    </div>
                                </fieldset>
                                <!--Retest Skip 기준 end-->
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-default" (click)="resetForm()">
                                                {{'reset'|i18n}}
                                            </button>
                                            <button (click)="retrieveExecute()" class="btn btn-primary">
                                                <i class="fa fa-search"></i>
                                                {{'retrieve'|i18n}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </sa-widget>
                <!-- end widget -->
                <!-- widget Grid Start -->
                <sa-widget [colorbutton]="false" [editbutton]="false" color="blueDark">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>User Usage Revision Retrieve Result</h2>
                    </header>
                    <div *ngIf="!empty">
                        <div class="widget-body no-padding">
                            <div class="col-md-12 col-xs-12">
                                <div class="form-inline well well-lg">
                                    <button class="btn btn-default" (click)="exportExcel()">Export</button>
                                </div>
                            </div>
                            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
                            <!-- the grid -->
                            <wj-flex-grid #flexGrid [itemsSource]="gridData" [isReadOnly]="true">
                                <wj-flex-grid-filter #filter></wj-flex-grid-filter>
                                <!--<wj-flex-grid-column *ngFor="let col of colInfo" [header]=col [binding]=col></wj-flex-grid-column>-->
                                <wj-flex-grid-column [header]="'Create Date'" [binding]="'createDate'" [width]="'*'"></wj-flex-grid-column>
                                <wj-flex-grid-column [header]="'User ID'" [binding]="'userId'" [width]="'*'"></wj-flex-grid-column>
                                <wj-flex-grid-column [header]="'UI ID'" [binding]="'uiId'" [width]="'*'"></wj-flex-grid-column>

                            </wj-flex-grid>
                        </div>
                    </div>
                    <div *ngIf="empty == true">
                        <div class="widget-body no-padding">
                            <div class="col-md-12 col-xs-12">
                                <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
                                <div style="text-align: center" class="h6">No data available in table</div>
                            </div>
                        </div>
                    </div>
                </sa-widget>
                <!-- widget Grid End -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- row end-->
    </sa-widgets-grid>
    <!-- end widget grid -->
</div>
