<!--
* 1. File name     : boardCompositeSocketYield.component.html
* 2. Discription   : 특정 보드의 기간동안 소켓의 수율을 보여준다
* 3. writer        : yhkim     2017.06.06
* 4. modifier      :
*/
/**
* version 1.0 : 2017.03.01  /  yhkim  / First Frame Creation
-->
<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <sa-widgets-grid>
        <!-- row start -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <sa-widget [colorbutton]="false" [editbutton]="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                        <h2>{{'boardCompositeSocketYield' | i18n}} Retrieve</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body">
                            <!--<legend>Retrieve Elements</legend>-->
                            <form #form="ngForm">
                                <div class="form-horizontal">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{'Date From'|i18n}}</label>
                                        <div class="col-md-2">
                                            <wj-input-date [(text)]="startDate" [format]="'yyyyMMdd'"></wj-input-date>
                                        </div>
                                        <label class="col-md-2 control-label">{{'Date to'|i18n}}</label>
                                        <div class="col-md-2">
                                            <wj-input-date [(text)]="endDate" [format]="'yyyyMMdd'"></wj-input-date>
                                        </div>
                                        <label class="col-md-2 control-label"><sup>*</sup>{{'boardId'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="{{'boardId'|i18n}}" type="text" name="biBoardId" required
                                                   [(ngModel)]="retrieveCondDto.biBoardId">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{'Part Number'|i18n}}<sup>%</sup></label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="Part Number" type="text" name="biPartNumber"
                                                   [(ngModel)]="retrieveCondDto.biPartNumber">
                                        </div>
                                        <label class="col-md-2 control-label">{{'mainProgramName'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="{{'mainProgramName'|i18n}}" type="text" name="biMainProgramName"
                                                   [(ngModel)]="retrieveCondDto.biMainProgramName">
                                        </div>

                                        <label class="col-md-2 control-label">{{'sblBoardLimit'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="{{'sblBoardLimit'|i18n}}" type="text" name="sblBoardLimit"
                                                   [(ngModel)]="retrieveCondDto.sblBoardLimit">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{'biTestNumber'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="{{'biTestNumber'|i18n}}" type="text" name="biTestNumber"
                                                   [(ngModel)]="retrieveCondDto.biTestNumber">
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-default" (click)="resetForm()">
                                                {{'reset'|i18n}}
                                            </button>

                                            <button type="submit" [disabled]="!form.form.valid" (click)="retrieveExecute()" class="btn btn-primary">
                                                <i class="fa fa-search"></i>
                                                {{'retrieve'|i18n}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </sa-widget>
                <!-- end widget -->
                <!-- widget Grid Start -->
                <sa-widget [colorbutton]="false" [editbutton]="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>{{'boardCompositeSocketYield' | i18n}} Retrieve Result</h2>
                    </header>
                    <div *ngIf="!empty">
                        <div class="widget-body no-padding">
                            <div class="col-md-12 col-xs-12">
                                <div class="form-inline well well-lg">
                                    <button class="btn btn-default" (click)="exportExcel()">Export</button>
                                </div>
                            </div>
                            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
                            <!-- the grid -->
                            <!--
                            <wj-flex-grid #flexGrid [allowResizing]="'Both'"
                                          class="grid"
                                          [itemsSource]="gridData"
                                          [isReadOnly]="true">
                                <wj-flex-grid-column *ngFor="let col of columns"
                                                     [header]="col.header"
                                                     [binding]="col.binding"
                                                     [format]="col.format"
                                                     [width]="col.width">
                                    <ng-template *ngIf="col.cellTemplate" wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                        <wj-component-loader [component]="col.cellTemplate" [properties]="{item: cell.item}"></wj-component-loader>
                                    </ng-template>
                                </wj-flex-grid-column>
                            </wj-flex-grid>
                            --->
                            <wj-flex-grid #flexGrid [itemsSource]="gridData">
                                <wj-flex-grid-column [header]="'Row1'" [binding]="'row1'" [width]="'*'">
                                    <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                        <div *ngIf="cell.item.row1 < retrieveCondDto.sblBoardLimit">
                                            <div [ngStyle]="{'background-color':'red', 'text-align' : 'center' , 'color':'yellow'}">
                                                {{cell.item.row1}}
                                            </div>
                                        </div>
                                    </ng-template>
                                </wj-flex-grid-column>
                            </wj-flex-grid>
                        </div>
                    </div>
                    <div *ngIf="empty == true">
                        <div class="widget-body no-padding">
                            <div class="col-md-12 col-xs-12">
                                <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
                                <div style="text-align: center" class="h6">No data available in table</div>
                            </div>
                        </div>
                    </div>
                </sa-widget>
                <!-- widget Grid End -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- row end-->
    </sa-widgets-grid>
    <!-- end widget grid -->
</div>

