<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <sa-widgets-grid>
        <!-- row start -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <sa-widget [colorbutton]="false" [editbutton]="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                        <h2>Bin Description Retrieve</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="form-horizontal">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{'Part Number'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="partNumber" type="text" name="partNumber" [(ngModel)]="retrieveCondDto.partNumber">
                                        </div>
                                        <label class="col-md-2 control-label">{{'mainProgramName'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="{{'mainProgramName'|i18n}}" type="text" name="mainProgramName" [(ngModel)]="retrieveCondDto.mainProgramName">
                                        </div>
                                        <label class="col-md-2 control-label">{{'Process Code'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="Process Code" type="text" name="processCode" [(ngModel)]="retrieveCondDto.processCode">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{'Tester Model'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="Tester Model" type="text" name="testerModel" [(ngModel)]="retrieveCondDto.testerModel">
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-default" (click)="resetForm()">
                                                {{'reset'|i18n}}
                                            </button>
                                            <button type="button" class="btn btn-success" (click)="lgModal.show()">
                                                <i class="fa file-o"></i>
                                                New
                                            </button>
                                            <button (click)="retrieveExecute()" class="btn btn-primary">
                                                <i class="fa fa-search"></i>
                                                {{'Retrieve'|i18n}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </sa-widget>
                <!-- end widget -->
                <!-- widget Grid Start -->
                <sa-widget [colorbutton]="false" [editbutton]="false" color="blueDark">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>LC Revision Retrieve Result</h2>
                    </header>
                    <div *ngIf="!empty">
                        <div class="widget-body no-padding">
                            <div class="col-md-12 col-xs-12">
                                <div class="form-inline well well-lg">
                                    <button class="btn btn-default" (click)="exportExcel()">Export</button>
                                </div>
                                <div class="form-inline well well-lg">
                                    <button class="btn btn-default" (click)="editByKye(flexGrid)">Edit</button>
                                </div>
                            </div>
                            <wj-flex-grid #flexGrid [itemsSource]="gridData" [isReadOnly]="true" [headersVisibility]="'Column'"
                                          [selectionMode]="'Row'"
                                          (loadedRows)="onGridLoaded($event)"
                                          [autoSizeMode] = "'Both'">
                                <wj-flex-grid-filter #filter></wj-flex-grid-filter>
                                <wj-flex-grid-column *ngFor="let col of colInfo" [header]=col
                                                     [binding]=col [width]="'*'"></wj-flex-grid-column>
                            </wj-flex-grid>
                        </div>
                    </div>
                    <div *ngIf="empty == true">
                        <div class="widget-body no-padding">
                            <div class="col-md-12 col-xs-12">
                                <div>No Data</div>
                            </div>
                        </div>
                    </div>
                </sa-widget>
                <!-- widget Grid End -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- row end-->
    </sa-widgets-grid>
    <!-- end widget grid -->
</div>


<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">BIN Description</h4>
            </div>
            <form class="form-horizontal" #tableForm="ngForm" (ngSubmit)="saveForm()" novalidate>
                <div class="modal-body">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-2 control-label">{{'Part Number'|i18n}}</label>
                            <div class="col-md-2">
                                <input class="form-control" placeholder="partNumber" type="text" name="partNumber" [(ngModel)]="binDescription.partNumber">
                            </div>
                            <label class="col-md-2 control-label">{{'mainProgramName'|i18n}}</label>
                            <div class="col-md-2">
                                <input class="form-control" placeholder="{{'mainProgramName'|i18n}}" type="text" name="mainProgramName" [(ngModel)]="binDescription.mainProgramName">
                            </div>
                            <label class="col-md-2 control-label">{{'Process Code'|i18n}}</label>
                            <div class="col-md-2">
                                <input class="form-control" placeholder="Process Code" type="text" name="processCode" [(ngModel)]="binDescription.processCode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">{{'Tester Model'|i18n}}</label>
                            <div class="col-md-2">
                                <input class="form-control" placeholder="Tester Model" type="text" name="testerModel" [(ngModel)]="binDescription.testerModel">
                            </div>

                            <label class="col-md-2 control-label">{{'itemName'|i18n}}</label>
                            <div class="col-md-2">
                                <input class="form-control" placeholder="{{'itemName'|i18n}}" type="text" name="itemName" [(ngModel)]="binDescription.itemName">
                            </div>
                            <label class="col-md-2 control-label">{{'mainBin'|i18n}}</label>
                            <div class="col-md-2">
                                <input class="form-control" placeholder="{{'mainBin'|i18n}}" type="text" name="mainBin" [(ngModel)]="binDescription.mainBin">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">{{'subBin'|i18n}}</label>
                            <div class="col-md-2">
                                <input class="form-control" placeholder="{{'subBin'|i18n}}" type="text" name="subBin" [(ngModel)]="binDescription.subBin">
                            </div>

                            <label class="col-md-2 control-label">{{'ngBin'|i18n}}</label>
                            <div class="col-md-2">
                                <input class="form-control" placeholder="{{'ngBin'|i18n}}" type="text" name="ngBin" [(ngModel)]="binDescription.ngBin">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="lgModal.hide()">
                        Cancel
                    </button>
                    <button type="button" class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i>
                        {{'save'|i18n}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
