<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.famos.base.dao.LastTableEventDao">
    <select id="retrieveLastTableEvent" parameterType="String" resultType="kr.famos.base.domain.LastTableEvent">
      SELECT * FROM LAST_TABLE_EVENT
    </select>
</mapper>
