<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.famos.base.dao.LastTableDao">
    <select id="retrieveLastTable" parameterType="kr.famos.base.domain.LastTable" resultType="kr.famos.base.domain.LastTable">
        SELECT
              *
        FROM
              LAST_TABLE
        <where>
            <if test="operator == null">
            ROWNUM = 1
            </if>
        </where>
    </select>

    <insert id="insertLastTable" parameterType="kr.famos.base.domain.LastTable">
        MERGE INTO LAST_TABLE USING DUAL ON (OPERATOR = #{operator})
        WHEN MATCHED THEN
        UPDATE SET
        <if test=" sysDate != null and sysDate != '' ">
            SYS_DATE =#{sysDate},
        </if>
        TESTER =#{tester},
        PARTNUMBER =#{partnumber},
        PROCESS =#{process},
        MAIN_PGM =#{mainPgm},
        PGMCNT =#{pgmcnt},
        SUB_PGM =#{subPgm},
        GLOBAL =#{global},
        SBL_YIELD =#{sblYield},
        SUB_BIN =#{subBin},
        SUBBIN =#{subbin},
        NGBIN =#{ngbin},
        PKG_SIGMOD =#{pkgSigmod},
        PKG_PARA =#{pkgPara},
        PKG_DIGIT =#{pkgDigit},
        PKG_SIGNO =#{pkgSigno},
        PKG_MEASNO =#{pkgMeasno},
        FLOW =#{flow},
        HALT =#{halt},
        COMMENTS =#{comments},
        RUN_SBL =#{runSbl},
        RUN_COUNT =#{runCount},
        TEMP =#{temp},
        TEMP_LIMIT =#{tempLimit},
        PKG_TYPE =#{pkgType},
        PKG_SIZE =#{pkgSize},
        PKG_HEIGHT =#{pkgHeight},
        PKG_PARANUM =#{pkgParanum},
        SPECIAL_PARA =#{specialPara},
        RUN_SBL_YIELD =#{runSblYield},
        LEADFREE =#{leadfree},
        LOT_MERGE =#{lotMerge},
        NEW_PRODUCT =#{newProduct},
        CATE6_1 =#{cate61},
        CATE6_2 =#{cate62},
        CATE6_3 =#{cate63},
        CATE6_4 =#{cate64},
        CATE6_5 =#{cate65},
        CATE7_1 =#{cate71},
        CATE7_2 =#{cate72},
        CATE7_3 =#{cate73},
        CATE7_4 =#{cate74},
        CATE7_5 =#{cate75},
        PRIME_PORTION =#{primePortion},
        YIELD_SBL =#{yieldSbl},
        NEW_SUB_BIN =#{newSubBin},
        T_LOT_SBL =#{tLotSbl},
        RTS_SUB =#{rtsSub},
        RTS_NG =#{rtsNg},
        RTS_YIELD =#{rtsYield},
        RTS_FLOW =#{rtsFlow},
        RTS_MIN_YIELD =#{rtsMinYield},
        RTS_BIN8_MIN_CNT =#{rtsBin8MinCnt},
        MASK_FLOW =#{maskFlow},
        MASK_COMMENTS =#{maskComments},
        EXCEPT_LOT =#{exceptLot},
        EXCEPT_INPUT_CNT =#{exceptInputCnt},
        TMS_USING =#{tmsUsing},
        AQL_BIN =#{aqlBin},
        NCF_RULE =#{ncfRule},
        FAIL_SUM =#{failSum},
        FAIL_SUM_CMD =#{failSumCmd},
        PGM_MONITOR_CNT =#{pgmMonitorCnt},
        TEST_CHIP =#{testChip},
        OPIRUS_MONITOR_CNT =#{opirusMonitorCnt},
        WAFER_SBL =#{waferSbl},
        WAFER_LIMIT_CNT =#{waferLimitCnt},
        WAFER_LOT_FILTER =#{waferLotFilter},
        WAFER_SBL_BIN =#{waferSblBin},
        S_BIN =#{sBin},
        SH_PROCESS =#{shProcess},
        SH_LOTID_1ST =#{shLotid1st},
        SH_LOTID_2ND =#{shLotid2nd},
        SH_PROCESS_1ST =#{shProcess1st},
        SH_PROCESS_2ND =#{shProcess2nd},
        TEST_TIME =#{testTime},
        ITEM_COUNT =#{itemCount},
        MAX_TIME =#{maxTime},
        WAFER_CI_BIN =#{waferCiBin},
        PURPOSE_TYPE_CHECK =#{purposeTypeCheck},
        PURPOSE_TYPE_1ST =#{purposeType1st},
        PURPOSE_PROCESS_1ST=#{purposeProcess1st},
        PURPOSE_TYPE_2ND =#{purposeType2nd},
        PURPOSE_PROCESS_2ND=#{purposeProcess2nd},
        WAFER_SBL_FLAG =#{waferSblFlag},
        MULTIUI_FLAG =#{multiuiFlag},
        FW_NAME_CHECK =#{fwNameCheck},
        FW1_PGM =#{fw1Pgm},
        FW_PATCH =#{fwPatch},
        FW_RC =#{fwRc},
        FW_RELEASE_DATE =#{fwReleaseDate},
        FW2_PGM =#{fw2Pgm},
        FW3_PGM =#{fw3Pgm},
        RELEASE_DATE_CHECK =#{releaseDateCheck},
        FAB =#{fab},
        GRADE =#{grade}
        WHEN NOT MATCHED THEN
        INSERT
        (
        OPERATOR,
        SYS_DATE,
        TESTER,
        PARTNUMBER,
        PROCESS,
        MAIN_PGM,
        PGMCNT,
        SUB_PGM,
        GLOBAL,
        SBL_YIELD,
        SUB_BIN,
        SUBBIN,
        NGBIN,
        PKG_SIGMOD,
        PKG_PARA,
        PKG_DIGIT,
        PKG_SIGNO,
        PKG_MEASNO,
        FLOW,
        HALT,
        COMMENTS,
        RUN_SBL,
        RUN_COUNT,
        TEMP,
        TEMP_LIMIT,
        PKG_TYPE,
        PKG_SIZE,
        PKG_HEIGHT,
        PKG_PARANUM,
        SPECIAL_PARA,
        RUN_SBL_YIELD,
        LEADFREE,
        LOT_MERGE,
        NEW_PRODUCT,
        CATE6_1,
        CATE6_2,
        CATE6_3,
        CATE6_4,
        CATE6_5,
        CATE7_1,
        CATE7_2,
        CATE7_3,
        CATE7_4,
        CATE7_5,
        PRIME_PORTION,
        YIELD_SBL,
        NEW_SUB_BIN,
        T_LOT_SBL,
        RTS_SUB,
        RTS_NG,
        RTS_YIELD,
        RTS_FLOW,
        RTS_MIN_YIELD,
        RTS_BIN8_MIN_CNT,
        MASK_FLOW,
        MASK_COMMENTS,
        EXCEPT_LOT,
        EXCEPT_INPUT_CNT,
        TMS_USING,
        AQL_BIN,
        NCF_RULE,
        FAIL_SUM,
        FAIL_SUM_CMD,
        PGM_MONITOR_CNT,
        TEST_CHIP,
        OPIRUS_MONITOR_CNT,
        WAFER_SBL,
        WAFER_LIMIT_CNT,
        WAFER_LOT_FILTER,
        WAFER_SBL_BIN,
        S_BIN,
        SH_PROCESS,
        SH_LOTID_1ST,
        SH_LOTID_2ND,
        SH_PROCESS_1ST,
        SH_PROCESS_2ND,
        TEST_TIME,
        ITEM_COUNT,
        MAX_TIME,
        WAFER_CI_BIN,
        PURPOSE_TYPE_CHECK,
        PURPOSE_TYPE_1ST,
        PURPOSE_PROCESS_1ST,
        PURPOSE_TYPE_2ND,
        PURPOSE_PROCESS_2ND,
        WAFER_SBL_FLAG,
        MULTIUI_FLAG,
        FW_NAME_CHECK,
        FW1_PGM,
        FW_PATCH,
        FW_RC,
        FW_RELEASE_DATE,
        FW2_PGM,
        FW3_PGM,
        RELEASE_DATE_CHECK,
        FAB,
        GRADE
        )
        VALUES
        (
        #{operator},
        #{sysDate},
        #{tester},
        #{partnumber},
        #{process},
        #{mainPgm},
        #{pgmcnt},
        #{subPgm},
        #{global},
        #{sblYield},
        #{subBin},
        #{subbin},
        #{ngbin},
        #{pkgSigmod},
        #{pkgPara},
        #{pkgDigit},
        #{pkgSigno},
        #{pkgMeasno},
        #{flow},
        #{halt},
        #{comments},
        #{runSbl},
        #{runCount},
        #{temp},
        #{tempLimit},
        #{pkgType},
        #{pkgSize},
        #{pkgHeight},
        #{pkgParanum},
        #{specialPara},
        #{runSblYield},
        #{leadfree},
        #{lotMerge},
        #{newProduct},
        #{cate61},
        #{cate62},
        #{cate63},
        #{cate64},
        #{cate65},
        #{cate71},
        #{cate72},
        #{cate73},
        #{cate74},
        #{cate75},
        #{primePortion},
        #{yieldSbl},
        #{newSubBin},
        #{tLotSbl},
        #{rtsSub},
        #{rtsNg},
        #{rtsYield},
        #{rtsFlow},
        #{rtsMinYield},
        #{rtsBin8MinCnt},
        #{maskFlow},
        #{maskComments},
        #{exceptLot},
        #{exceptInputCnt},
        #{tmsUsing},
        #{aqlBin},
        #{ncfRule},
        #{failSum},
        #{failSumCmd},
        #{pgmMonitorCnt},
        #{testChip},
        #{opirusMonitorCnt},
        #{waferSbl},
        #{waferLimitCnt},
        #{waferLotFilter},
        #{waferSblBin},
        #{sBin},
        #{shProcess},
        #{shLotid1st},
        #{shLotid2nd},
        #{shProcess1st},
        #{shProcess2nd},
        #{testTime},
        #{itemCount},
        #{maxTime},
        #{waferCiBin},
        #{purposeTypeCheck},
        #{purposeType1st},
        #{purposeProcess1st},
        #{purposeType2nd},
        #{purposeProcess2nd},
        #{waferSblFlag},
        #{multiuiFlag},
        #{fwNameCheck},
        #{fw1Pgm},
        #{fwPatch},
        #{fwRc},
        #{fwReleaseDate},
        #{fw2Pgm},
        #{fw3Pgm},
        #{releaseDateCheck},
        #{fab},
        #{grade}
        )
    </insert>
</mapper>
