<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.famos.bets.dao.LotYieldDao">
    <select id="retrieveYieldHist" resultType="kr.famos.bets.domain.LotYield">
        SELECT
        SYS_DATE,
        LINE,
        PARTNUMBER_NAME,
        LOT_NUMBER,
        PROCESS_NAME,
        TESTER_NAME,
        HD_MODEL,
        LOT_ASYSITE,
        BOARD_ID,
        TEST_COUNT,
        TESTER_HEAD,

        BOARD_ID,
        CATEGORY_01+ CATEGORY_02+ CATEGORY_03 + CATEGORY_04 + CATEGORY_05 + CATEGORY_06 + CATEGORY_07 + CATEGORY_08 + NVL(CATEGORY_09,0) AS testQty,
        CATEGORY_01+ CATEGORY_02+ CATEGORY_03 + CATEGORY_04                                                                              AS passQty,
        TRUNC(((CATEGORY_01+ CATEGORY_02+ CATEGORY_03 + CATEGORY_04) / (CATEGORY_01+ CATEGORY_02+ CATEGORY_03 + CATEGORY_04 + CATEGORY_05 + CATEGORY_06 + CATEGORY_07 + CATEGORY_08 + NVL(CATEGORY_09,0)))*100,2)  AS lotYield ,
        CATEGORY_01,
        CATEGORY_02,
        CATEGORY_03,
        CATEGORY_04,
        CATEGORY_05,
        CATEGORY_06,
        CATEGORY_07,
        CATEGORY_08,
        CATEGORY_09

        FROM
        TEST_YIELD_HIST
        <where>
            1 = 1
            <if test=" lotNumber != null and lotNumber != '' ">
                AND LOT_NUMBER = #{lotNumber}
            </if>
            <if test=" sysDateStart != null and sysDateStart != '' ">
                AND SYS_DATE >= #{sysDateStart}
            </if>
            <if test=" sysDateEnd != null and sysDateEnd != '' ">
                AND SYS_DATE <![CDATA[<=]]> #{sysDateEnd}
            </if>
            <if test=" partnumberName != null and partnumberName != '' ">
                AND PARTNUMBER_NAME = #{partnumberName}
            </if>
            <if test=" processName != null and processName != '' ">
                AND PROCESS_NAME = #{processName}
            </if>
            <if test=" testCount != null and testCount != '' ">
                AND TEST_COUNT = #{testCount}
            </if>
            <if test=" testerName != null and testerName != '' ">
                AND TESTER_NAME = #{testerName}
            </if>
            <if test=" testerHead != null and testerHead != '' ">
                AND TESTER_HEAD = #{testerHead}
            </if>
            <if test=" boardId != null and boardId != '' ">
                AND HANDLER = #{boardId}
            </if>
        </where>
    </select>
</mapper>
