<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.famos.yield.lot.dao.LotYieldDao">
    <select id="retrieveYieldHist" parameterType="kr.famos.yield.lot.domain.LotYield" resultType="kr.famos.yield.lot.domain.LotYield">
        SELECT
              SYS_DATE,
              LINE,
              PARTNUMBER_NAME,
              LOT_NUMBER,
              PROCESS_NAME,
              TESTER_NAME,
              HD_MODEL,
              LOT_ASYSITE,
              BOARD_ID
        FROM
              TEST_YIELD_HIST
        <where>
              1                  =    1
            <if test=" sysDateStart != null and sysDateStart != '' ">
                AND SYS_DATE >= #{sysDateStart}
            </if>
            <if test=" sysDateEnd != null and sysDateEnd != '' ">
                AND SYS_DATE <![CDATA[<=]]> #{sysDateEnd}
            </if>
            <if test=" partnumberName != null and partnumberName != '' ">
                AND PARTNUMBER_NAME = #{partnumberName}
            </if>
            <if test=" processName != null and processName != '' ">
                AND PROCESS_NAME = #{processName}
            </if>
            <if test=" testerName != null and testerName != '' ">
                AND TESTER_NAME = #{testerName}
            </if>
        </where>
    </select>
</mapper>
