{{diagnostic}}
<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <sa-widgets-grid>
        <!-- row start -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <sa-widget [colorbutton]="false" [editbutton]="false">
                    <!-- widget options:
                    usage: <sa-widget [editbutton]="false">

                    [colorbutton]="false"
                    [editbutton]="false"
                    [togglebutton]="false"
                    [deletebutton]="false"
                    [fullscreenbutton]="false"
                    [custombutton]="false"
                    [collapsed]="true"
                    [sortable]="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                        <h2>Program register</h2>
                    </header>

                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body">
                            <form class="form-horizontal" #tableForm="ngForm" (ngSubmit)="saveForm()" novalidate>
                                <fieldset>
                                    <!--<legend>Last TABLED efault Form Elements</legend>-->
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">{{'partNumber'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" id="partNumber" name="partNumber" placeholder="" [(ngModel)]="programRegister.partNumber" required>
                                        </div>
<!--
                                        <div [hidden]="partNumber.valid || partNumber.pristine" class="alert alert-danger">
                                            partNumber is required
                                        </div>
-->
                                        <label class="col-md-1 control-label">{{'processCode'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" id="processCode" name="processCode" placeholder="" [(ngModel)]="programRegister.processCode">
                                        </div>
                                        <label class="col-md-1 control-label">{{'product'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" id="product" name="product" placeholder="" [(ngModel)]="programRegister.product">
                                        </div>

                                        <label class="col-md-1 control-label">{{'packageType'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" id="packageType" name="packageType" placeholder="" [(ngModel)]="programRegister.packageType">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">{{'temperature'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input type="number" class="form-control" id="temperature" name="temperature" placeholder="" [(ngModel)]="programRegister.temperature">
                                        </div>
                                        <label class="col-md-1 control-label">{{'customer'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" id="customer" name="customer" placeholder="" [(ngModel)]="programRegister.customer">
                                        </div>
                                        <label class="col-md-1 control-label">{{'temperatureGuard'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" id="temperatureGuard" name="temperatureGuard" placeholder="" [(ngModel)]="programRegister.temperatureGuard">
                                        </div>
                                        <label class="col-md-1 control-label">{{'sblYieldLimit'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" id="sblYieldLimit" name="sblYieldLimit" placeholder="" [(ngModel)]="programRegister.sblYieldLimit">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">{{'mainProgramName'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" id="mainProgramName" name="mainProgramName" placeholder="" [(ngModel)]="programRegister.mainProgramName">
                                        </div>
                                        <label class="col-md-1 control-label">{{'sblSubbinALimitCount'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" id="sblSubBinaLimitCount" name="sblSubBinaLimitCount" placeholder="" [(ngModel)]="programRegister.sblSubBinaLimitCount">
                                        </div>
                                        <label class="col-md-1 control-label">{{'fab'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" id="fab" name="fab" placeholder="" [(ngModel)]="programRegister.fab">
                                        </div>
                                        <label class="col-md-1 control-label">{{'sblSubBinaLimitLimit'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" id="sblSubBinaLimitLimit" name="sblSubBinaLimitLimit" placeholder="" [(ngModel)]="programRegister.sblSubBinaLimitLimit">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">{{'grade'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" id="grade" name="grade" placeholder="" [(ngModel)]="programRegister.grade">
                                        </div>
                                        <label class="col-md-1 control-label">{{'sblSubbinBLimitCount'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" id="sblSubBinbLimitCount" name="sblSubBinbLimitCount" placeholder="" [(ngModel)]="programRegister.sblSubBinbLimitCount">
                                        </div>
                                        <label class="col-md-1 control-label">{{'firmwareName'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" id="firmwareName" name="firmwareName" placeholder="" [(ngModel)]="programRegister.firmwareName">
                                        </div>
                                        <label class="col-md-1 control-label">{{'sblSubBinbLimitLimit'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" id="sblSubBinbLimitLimit" name="sblSubBinbLimitLimit" sblSubBinbLimitLimit="" [(ngModel)]="programRegister.sblSubBinbLimitLimit">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-1 control-label">{{'firmwareVersion'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" id="firmwareVersion" name="firmwareVersion" placeholder="" [(ngModel)]="programRegister.firmwareVersion">
                                        </div>
                                        <label class="col-md-1 control-label">{{'sblBin9Count '|i18n}}</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" id="sblBin9Count" name="sblBin9Count" placeholder="" [(ngModel)]="programRegister.sblBin9Count">
                                        </div>
                                        <label class="col-md-1 control-label">{{'testerModel'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" id="testerModel" name="testerModel" placeholder="" [(ngModel)]="programRegister.testerModel">
                                        </div>
                                        <label class="col-md-1 control-label">{{'sblBin9Limit'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" id="sblBin9Limit" name="sblBin9Limit" placeholder="" [(ngModel)]="programRegister.sblBin9Limit">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-1 control-label">{{'testerOsVersion'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" id="testerOsVersion" name="testerOsVersion" placeholder="" [(ngModel)]="programRegister.testerOsVersion">
                                        </div>
                                        <label class="col-md-1 control-label">{{'dutMap '|i18n}}</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" id="dutMap" name="dutMap" placeholder="" [(ngModel)]="programRegister.dutMap">
                                        </div>
                                        <label class="col-md-1 control-label">{{'programVersion'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" id="programVersion" name="programVersion" placeholder="" [(ngModel)]="programRegister.programVersion">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-1 control-label">{{'programDirectory'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" id="programDirectory" name="programDirectory" placeholder="" [(ngModel)]="programRegister.programDirectory">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="checkbox style-3" id="functionKey1" name="functionKey1" [(ngModel)]="programRegister.functionKey1">
                                            <span>{{'functionKey1'|i18n}}</span>
                                        </label>


                                    </div>
                                </fieldset>
                                <!--Retest Skip 기준 end-->
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!--
                                            <button class="btn btn-default" type="submit">
                                                Reset
                                            </button>
                                            -->
                                            <button class="btn btn-primary" type="submit">
                                                <i class="fa fa-save"></i>
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </sa-widget>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- row end-->
    </sa-widgets-grid>
    <!-- end widget grid -->
</div>
