<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <sa-widgets-grid>
        <!-- row start -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <sa-widget [colorbutton]="false" [editbutton]="false">
                    <!-- widget options:
                    usage: <sa-widget [editbutton]="false">

                    [colorbutton]="false"
                    [editbutton]="false"
                    [togglebutton]="false"
                    [deletebutton]="false"
                    [fullscreenbutton]="false"
                    [custombutton]="false"
                    [collapsed]="true"
                    [sortable]="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                        <h2>Program register</h2>
                    </header>

                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body">
                            <form class="form-horizontal" [formGroup]="tableForm" (ngSubmit)="saveForm(tableForm.value)" novalidate>
                                <fieldset>
                                    <!--<legend>Last TABLED efault Form Elements</legend>-->
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">{{'partNumber'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="" type="text" formControlName="partNumber">
                                        </div>
                                        <label class="col-md-1 control-label">{{'processCode'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="" type="text" formControlName="processCode">
                                        </div>
                                        <label class="col-md-1 control-label">{{'product'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="" type="text" formControlName="product">
                                        </div>
                                        <label class="col-md-1 control-label">{{'packageType'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="" type="text" formControlName="packageType">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">{{'customer'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="" type="text" formControlName="customer">
                                        </div>
                                        <label class="col-md-1 control-label">{{'testerModel'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="" type="text" formControlName="testerModel">
                                        </div>
                                        <label class="col-md-1 control-label">{{'mainProgramName'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="" type="text" formControlName="mainProgramName">
                                        </div>
                                        <label class="col-md-1 control-label">{{'temperature'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="" type="text" formControlName="temperature">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">{{'sblYieldLimit'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="" type="text" formControlName="sblYieldLimit">
                                        </div>
                                        <label class="col-md-1 control-label">{{'sblSubbinANumber'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="YYYY-MM-DD" type="text" formControlName="sblSubbinANumber">
                                        </div>

                                        <label class="col-md-1 control-label">{{'sblSubbinALimitPercent'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="" type="text" formControlName="sblSubbinALimitPercent">
                                        </div>

                                        <label class="col-md-1 control-label">{{'sblSubbinALimitCount'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="" type="text" formControlName="sblSubbinALimitCount">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">{{'sblSubbinBNumber'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="" type="text" formControlName="sblSubbinBNumber">
                                        </div>
                                        <label class="col-md-1 control-label">{{'sblSubbinBLimitPercent'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="" type="text" formControlName="sblSubbinBLimitPercent">
                                        </div>

                                        <label class="col-md-1 control-label">{{'sblSubbinBLimitCount'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="" type="text" formControlName="sblSubbinBLimitCount">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">{{'fab'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="" type="text" formControlName="fab">
                                        </div>
                                        <label class="col-md-1 control-label">{{'grade'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="" type="text" formControlName="grade">
                                        </div>
                                        <label class="col-md-1 control-label">{{'programVersion'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="" type="text" formControlName="programVersion">
                                        </div>

                                        <label class="col-md-1 control-label">{{'firmwareVersion'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="" type="text" formControlName="firmwareVersion">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">{{'Firmware Name'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="" type="text" formControlName="firmwareName">
                                        </div>
                                        <label class="col-md-1 control-label">{{'testerOsVersion'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="" type="text" formControlName="testerOsVersion">
                                        </div>
                                        <label class="col-md-1 control-label">{{'parallel'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="" type="text" formControlName="parallel">
                                        </div>
                                    </div>
                                    <!--FunctionKey Group-->
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" class="checkbox style-3" formControlName="functionKey1">
                                                <span>{{'functionKey1'|i18n}}</span>
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" class="checkbox style-3" formControlName="functionKey2">
                                                <span>{{'functionKey2'|i18n}}</span>
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" class="checkbox style-3" formControlName="functionKey3">
                                                <span>{{'functionKey3'|i18n}}</span>
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" class="checkbox style-3" formControlName="functionKey4">
                                                <span>{{'functionKey4'|i18n}}</span>
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" class="checkbox style-3" formControlName="functionKey5">
                                                <span>{{'functionKey5'|i18n}}</span>
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" class="checkbox style-3" formControlName="functionKey6">
                                                <span>{{'functionKey6'|i18n}}</span>
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" class="checkbox style-3" formControlName="functionKey7">
                                                <span>{{'functionKey7'|i18n}}</span>
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" class="checkbox style-3" formControlName="functionKey8">
                                                <span>{{'functionKey8'|i18n}}</span>
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" class="checkbox style-3" formControlName="functionKey9">
                                                <span>{{'functionKey9'|i18n}}</span>
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" class="checkbox style-3" formControlName="functionKey10">
                                                <span>{{'functionKey10'|i18n}}</span>
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" class="checkbox style-3" formControlName="functionKey11">
                                                <span>{{'functionKey11'|i18n}}</span>
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" class="checkbox style-3" formControlName="functionKey12">
                                                <span>{{'functionKey12'|i18n}}</span>
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" class="checkbox style-3" formControlName="functionKey13">
                                                <span>{{'functionKey13'|i18n}}</span>
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" class="checkbox style-3" formControlName="functionKey14">
                                                <span>{{'functionKey14'|i18n}}</span>
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" class="checkbox style-3" formControlName="functionKey15">
                                                <span>{{'functionKey15'|i18n}}</span>
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" class="checkbox style-3" formControlName="functionKey16">
                                                <span>{{'functionKey16'|i18n}}</span>
                                            </label>
                                        </div>
                                    </div>


                                </fieldset>
                                <!--Retest Skip 기준 end-->
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!--
                                            <button class="btn btn-default" type="submit">
                                                Reset
                                            </button>
                                            -->
                                            <button class="btn btn-primary" type="submit">
                                                <i class="fa fa-save"></i>
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </sa-widget>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- row end-->
    </sa-widgets-grid>
    <!-- end widget grid -->
</div>
