<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <sa-widgets-grid>
        <!-- row start -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <sa-widget [colorbutton]="false" [editbutton]="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                        <h2>Board Yield Retrieve</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="form-horizontal">
                                <fieldset>
                                    <!--검색조건 시작-->
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{'Date From'|i18n}}</label>
                                        <div class="col-md-2">
                                            <wj-input-date [(text)]="startDate" [format]="'yyyyMMdd'"></wj-input-date>
                                        </div>
                                        <label class="col-md-2 control-label">{{'Date to'|i18n}}</label>
                                        <div class="col-md-2">
                                            <wj-input-date [(text)]="endDate" [format]="'yyyyMMdd'"></wj-input-date>
                                        </div>
                                        <label class="col-md-2 control-label">{{'Tester Model'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="Tester Model" type="text" [(ngModel)]="retrieveCondDto.testerModel">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{'Part Number'|i18n}}<sup>%</sup></label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="Part Number" type="text" [(ngModel)]="retrieveCondDto.partNumber">
                                        </div>

                                        <label class="col-md-2 control-label">{{'Process Code'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="Process Code" type="text" [(ngModel)]="retrieveCondDto.processCode">
                                        </div>
                                        <label class="col-md-2 control-label">{{'boardId'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="{{'boardId'|i18n}}" type="text" [(ngModel)]="retrieveCondDto.boardId">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{'testerNumber'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="{{'testerNumber'|i18n}}" type="text" [(ngModel)]="retrieveCondDto.testNumber">
                                        </div>
<!--
                                        <label class="col-md-2 control-label">{{'mainProgramName'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="{{'mainProgramName'|i18n}}" type="text" [(ngModel)]="retrieveCondDto.mainProgramName">
                                        </div>
-->
                                        <label class="col-md-2 control-label">{{'sblBoardLimit'|i18n}}</label>
                                        <div class="col-md-2">
                                            <input class="form-control" placeholder="{{'sblBoardLimit'|i18n}}" type="text" [(ngModel)]="retrieveCondDto.sblBoardLimit">
                                        </div>


                                    </div>

                                </fieldset>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-default" (click)="resetForm()">
                                                {{'reset'|i18n}}
                                            </button>
                                            <button (click)="saveLastTableForm()" class="btn btn-primary">
                                                <i class="fa fa-search"></i>
                                                {{'retrieve'|i18n}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </sa-widget>
                <!-- end widget -->
                <!-- widget Grid Start -->
                <sa-widget [colorbutton]="false" [editbutton]="false" color="blueDark">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Board Yield Retrieve Result</h2>
                    </header>
                    <div *ngIf="!empty">
                        <div class="widget-body no-padding">
                            <div class="col-md-12 col-xs-12">
                                <div class="form-inline well well-lg">
                                    <button class="btn btn-default" (click)="exportExcel()">Export</button>
                                </div>
                            </div>
                            <wj-flex-grid #flexGrid [itemsSource]="gridData" [isReadOnly]="true" [headersVisibility]="'Column'"
                                          (loadedRows)="onGridLoaded($event)"
                                          [autoSizeMode] = "'Both'">
                                <wj-flex-grid-filter #filter></wj-flex-grid-filter>
                                <wj-flex-grid-column *ngFor="let col of colInfo" [header]=col
                                                     [binding]=col></wj-flex-grid-column>
                            </wj-flex-grid>


                            <wj-flex-grid [itemsSource]="gridData">
                                <wj-flex-grid-column [header]="'PART_NUMBER'" [binding]="'PART_NUMBER'" [width]="'*'"></wj-flex-grid-column>
                                <wj-flex-grid-column [header]="'PROCESS_CODE'" [binding]="'PROCESS_CODE'"></wj-flex-grid-column>
                                <wj-flex-grid-column [header]="'INPUT'" [binding]="'INPUT'">
                                    <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                        <div *ngIf="cell.item.INPUT == '360'">
                                            <div [ngStyle]="{'background-color':'yellow'}">
                                                {{cell.item.INPUT}}
                                            </div>
                                        </div>
                                    </ng-template>
                                </wj-flex-grid-column>
                                <wj-flex-grid-column [header]="'PASS'" [binding]="'PASS'"></wj-flex-grid-column>
                            </wj-flex-grid>


                            <wj-flex-grid [itemsSource]="gridData">
                                <wj-flex-grid-column *ngFor="let col of colInfo" [header]=col [binding]=col>
                                    <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                                {{cell.item}}
                                    </ng-template>
                                </wj-flex-grid-column>
                            </wj-flex-grid>


                        </div>
                    </div>
                    <div *ngIf="empty == true">
                        <div class="widget-body no-padding">
                            <div class="col-md-12 col-xs-12">
                                <div>No data available in table</div>
                            </div>
                        </div>
                    </div>
                </sa-widget>
                <!-- widget Grid End -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- row end-->
    </sa-widgets-grid>
    <!-- end widget grid -->
</div>
